#sport-latino-view, :host:host, .dg_bs_root_holder {
  --background_1: #1A2c38;
  --background_2: #15202d;
  --background_3: #153a5b;
  --background_4: #15202d;
  --background_stakes: #153A5B;
  --background_rgba: #1A283844;
  --text_1: #ffffff;
  --text_2: rgba(255, 255, 255, 0.6);
  --text_3: rgba(255, 255, 255, 0.4);
  --accent_1: #0072ed;
  --accent_1_txt: #fff;
  --accent_2: #0072ed;
  --accent_2_txt: #fff;
  --accent_3: #0072ed;
  --accent_3_txt: #fff;

  --oddG: var(--background_stakes);
  --oddBg: var(--background_stakes);
  --oddBg2: var(--background_stakes);
  --oddBg3: var(--background_stakes);
  --oddBgHover: var(--background_stakes);
  --oddBg2Hover: var(--background_stakes);
  --oddBg3Hover: var(--background_stakes);
  --oddTxt: var(--text_1);
  --oddTxt2: var(--text_2);
  --oddTxt3: var(--text_3);
  --oddAccent: var(--text_1);
  --oddAccentTxt: var(--background_stakes);
  --oddRadius: 2px;
  --oddBorder: var(--background_stakes);
}



