.demo_root {
  background: var(--bodyG);
  color: var(--bodyTxt);
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 16px;
  align-items: flex-start;
  align-items: stretch;
}

.demo_item {
  width: 200px;
  font-size: 10px;
  padding: 8px;
}

.demo_card {
  /* height: 100px; */
  background: var(--eventBg);
  color: var(--eventTxt);
}

.demo_header {
  /* height: 100px; */
  background: var(--headerBg);
  color: var(--headerTxt);
}

.demo_header_child {
  background: var(--headerBg2);
  padding: 2px 8px;
}

.demo_card > span {
  color: var(--eventTxt2);
  display: block;
}

.demo_button > strong {
  color: var(--buttonTxt2);
}

.demo_row {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0 8px;
  height: 32px;
}

.demo_button > span {
  font-weight: 700;
  text-transform: uppercase;
}

.demo_button {
  background: var(--buttonBg);
  color: var(--buttonTxt);
  appearance: none;
  border: 0;
  -webkit-appearance: none;
  border-radius: var(--buttonRadius);
  outline: 0;
  width: 100%;
}

.demo_button.variant_sec {
  background: var(--buttonSecondaryBg);
  color: var(--buttonSecondaryTxt);
}

.demo_button.variant_sec:hover {
  background: var(--buttonSecondaryBgHover);
  color: var(--buttonSecondaryTxt);
}

.demo_event_card {
  --eventRtl: 8px;
  --eventRtr: 8px;
  --eventRbl: 8px;
  --eventRbr: 8px;
  --eventPs: 8px;
  --eventPe: 8px;
  --eventPt: 8px;
  --eventPb: 8px;
  background: var(--eventBg);
  color: var(--eventTxt);
  border: 2px solid var(--eventBorder);
  padding-inline-start: var(--eventPs);
  padding-inline-end: var(--eventPe);
  padding-top: var(--eventPt);
  padding-bottom: var(--eventPb);
  border-top-left-radius: var(--eventRtl);
  border-top-right-radius: var(--eventRtr);
  border-bottom-left-radius: var(--eventRbl);
  border-bottom-right-radius: var(--eventRbr);
  height: auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 8px;
}

.demo_event_coin {
  width: 20px;
  height: 20px;
  background: var(--eventAccent);
  color: var(--eventAccentTxt);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.demo_event_card2 {
  background: var(--eventBg2);
  color: var(--eventTxt);
  border: 2px solid var(--eventBorder2);
  border-radius: 4px;
  padding: 8px;
  height: 80px;
}

.tg__match_header {
  background: var(--headerG);
  color: var(--headerTxt2);
  border-bottom: 1px solid var(--headerBorder);
  border-top-left-radius: var(--headerRadius);
  border-top-right-radius: var(--headerRadius);
}

.tg__match_header {
  height: 44px;
  position: relative;
}
.tg--cp {
  cursor: pointer;
}
.tg--pad-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.tg--align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tg-flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 1px;
}
.tg--flex,
.tg_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tg__match_item {
  --yg: 1px;
  --sep-bg: var(--headerBorder);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tg__match_header {
  --Bg1: var(--headerG);
  --Txt1: var(--headerTxt);
  --Txt2: var(--headerTxt2);
  --Txt3: var(--headerTxt3);
  --xtr: var(--headerRadius);
  --Border: 0;
  --BorderColor: var(--Bg1);
  background: var(--Bg1);
  color: var(--Txt1);
  border-bottom: var(--Border) solid var(--BorderColor);
  border-top-left-radius: var(--xr);
  border-top-right-radius: var(--xr);
  column-gap: 8px;
}

.tg__match_header > .tg-ico-fav {
  color: var(--Txt1);
}
.tg__match_header > .tg-ico-arrow {
  color: var(--Txt2);
}
.tg__match_header > .tg__teams {
  color: var(--Txt2);
}
.tg__match_header > .tg__cashout {
  color: var(--Txt4);
}

.tg__match_header.state_liked {
  --Txt1: var(--headerTxt2);
}
.tg__match_header.state_switched {
  --Txt1: var(--headerTxt2);
}

.odCnt {
  gap: 8px;
}
.tg__match_item_stake {
  padding: 8px 16px;
  width: 50%;
  text-decoration: none;
}

.tg__match_item_stake > span {
  color: var(--Txt1);
}
.tg__stake_2 {
  width: 50%;
}

.l_od,
.l_od_empty {
  --Bg1: var(--oddG);
  --Txt1: var(--oddTxt);
  background: var(--Bg1);
  color: var(--Txt1);
  border: 1px solid var(--oddBorder);
  border-radius: var(--oddRadius);
}
.l_od,
.l_od_empty,
.l_od_empty_argument {
  width: 56px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  -moz-transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s ease, color 0.3s;
  transition: all 0.3s ease, color 0.3s;
}

.tg__match_items_list {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  row-gap: 8px;
  /* width: 400px; */
}

.matchListWrapper {
  --Bg1: var(--headerG);
  --Txt1: var(--headerTxt);
  background: var(--Bg1);
  color: var(--Txt1);
}


.lv_event_row {
    align-items: center;
    background-color: var(--eventBg);
    border-bottom: 1px solid var(--eventBorder);
    color: var(--eventTxt2);
    display: flex;
    font-size: 13px;
    height: 68px;
    padding: 0 16px;
}
.lv_event_row .lv_event_details_wrapper {
    align-items: center;
    cursor: default;
    display: flex;
    flex-grow: 1;
    min-width: 1px;
    min-width: 180px
}

.lv_event_row .lv_event_details_wrapper .lv_event_time {
    -webkit-margin-end: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-size: 12px;
    margin-inline-end:5px;width: 64px
}

.lv_event_row .lv_event_details_wrapper .lv_event_time .lv__time_and_date {
    align-items: center;
    column-gap: 4px;
    display: inline-flex
}

.lv_event_row .lv_event_details_wrapper .lv_event_time>span {
    display: block;
    line-height: 16px;
    margin: 2px 0;
    max-width: 100%
}

.lv_event_row .lv_event_details_wrapper .lv_event_details {
    display: flex;
    flex-grow: 1;
    margin-right: 8px;
    min-width: 1px
}

.lv_event_row .lv_event_details_wrapper .lv_event_details .lv_event_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100px
}

.lv_event_row .lv_event_details_wrapper .lv_event_details .lv_event_info .lv_champ_name {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    margin-bottom: 4px;
    min-width: 1px
}

.lv_event_row .lv_event_stakes .lv_event_market {
    align-items: center;
    border: 1px solid #0000;
    border-radius: 5px;
    column-gap: 8px;
    display: flex;
    padding: 3px;
    width: 240px
}

.lv_event_row .lv_event_stakes .lv_event_market--feature {
    --lvEventMarketBorderX: 0;
    position: relative
}

.lv_event_row .lv_event_stakes .lv_event_market--feature.lv_market-overUnder {
    --lvEventMarketBorderX: 34px
}

.lv_event_row .lv_event_stakes .lv_event_market--feature:before {
    border: 1px solid var(--accentBg);
    border-radius: inherit;
    bottom: 0;
    content: "";
    display: block;
    left: var(--lvEventMarketBorderX);
    opacity: .5;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.lv_rtl .lv_event_row .lv_event_stakes .lv_event_market--feature:before {
    left: 0;
    right: var(--lvEventMarketBorderX)
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder {
    position: relative;
    width: 194px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup {
    background: var(--modalBg);
    border: 1px solid var(--modalBg2);
    border-radius: 3px;
    color: var(--modalTxt2);
    display: flex;
    flex-direction: column;
    isolation: isolate;
    left: 50%;
    max-height: 190px;
    opacity: 0;
    padding: 14px;
    pointer-events: none;
    position: absolute;
    top: 28px;
    transform: translateX(-50%);
    width: 256px;
    z-index: -99999
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup.top_popup {
    bottom: 27px;
    top: unset;
    transform: translate(-50%)
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup.top_popup:before {
    bottom: -28px;
    top: -20px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup:before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -28px;
    width: 60px;
    z-index: -1
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup:hover {
    opacity: 1;
    pointer-events: all;
    z-index: 99999
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup:hover:before {
    pointer-events: all
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content {
    overflow-y: auto;
    overscroll-behavior: contain
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .selected_row {
    background: var(--modalBg3);
    border-radius: 8px;
    color: var(--modalTxt);
    padding-right: 8px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .selected_row .lv_stake:not(.lv_stake-selected) {
    background: var(--oddBg3);
    color: var(--oddTxt)
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .lv__ellipsis {
    text-decoration: none
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .lv_stakes_argument {
    -webkit-margin-start: 5px;
    -webkit-margin-end: -2px;
    margin-inline-end:-2px;margin-inline-start:5px;width: 28px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content::-webkit-scrollbar {
    background-color: var(--eventBg);
    display: initial;
    height: 4px;
    width: 4px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content::-webkit-scrollbar-track {
    background: var(--dominantBg)
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content::-webkit-scrollbar-thumb {
    background-color: var(--eventBg);
    border-radius: 8px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_event_market {
    height: 52px;
    padding: 0 16px;
    width: auto
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_event_market--feature:before {
    content: unset;
    display: none
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_event_market .lv_stake {
    max-width: 72px
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup:hover {
    display: flex;
    flex-direction: column
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup.scroll_content {
    padding: 12px 8px 12px 12px
}.lv_event_row .lv_event_stakes {
    column-gap: 16px;
    display: flex;
}

.lv_event_row .lv_event_stakes .lv_event_market {
    align-items: center;
    border: 1px solid #0000;
    border-radius: 5px;
    column-gap: 8px;
    display: flex;
    padding: 3px;
    width: 240px;
}.lv_stake {
    align-items: center;
    background-color: var(--oddBg);
    border: 1px solid var(--oddBorder);
    border-radius: var(--border-radius-2);
    color: var(--oddTxt);
    display: flex;
    flex: 1 1;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition-delay: 10ms;
    transition-duration: .18s;
    transition-property: color,background-color;
    transition-timing-function: ease-out
}

@media only screen and (max-width: 1540px) {
    .lv_stake {
        font-size:13px
    }
}

.lv_stake:hover {
    background-color: var(--oddBgHover)
}

.lv_stake.lv_stake-selected {
    background-color: var(--oddActiveG);
    color: var(--oddActiveTxt);
    font-weight: 500
}
.lv_event_row .lv_event_stakes .lv_stakes_count {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition-delay: 10ms;
    transition-duration: .18s;
    transition-timing-function: ease-out;
    width: 42px;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
}

.lv_event_row .lv_event_stakes .lv_stakes_count:hover {
    color: var(--eventTxt)
}
.lv_event_actions {
    -webkit-margin-start: 16px;
    align-items: center;
    column-gap: 16px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    margin-inline-start:16px;min-height: 1px;
    min-width: 30px
}

.lv_event_actions--row {
    flex-direction: row;
    justify-content: flex-end
}

.lv_event_action_btn {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--eventTxt2);
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 30px;
    transition-delay: 10ms;
    transition-duration: .18s;
    transition-property: color;
    transition-timing-function: ease-out
}

.lv_event_action_btn--line {
    font-size: 16px;
    line-height: 20px;
    pointer-events: none
}

.lv_event_action_btn:hover {
    color: var(--eventTxt)
}

.lv_event_action_score {
    align-items: center;
    color: var(--eventTxt);
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    line-height: 18px;
    min-width: 26px;
    text-align: end;
    unicode-bidi: bidi-override
}

.lv_event_name{
  font-weight: 500;
  color: var(--eventTxt);
}

.grad_demo{
          width: 100px;
        height: 100px;
        flex-shrink: 0;
}
.grad_demo_2{

  background-image: linear-gradient(123deg, #FFFFFF 0%, #00B2FF 100%), linear-gradient(236deg, #BAFF99 0%, #005E64 100%), linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
background-blend-mode: overlay, overlay, overlay, darken, normal;

}
.grad_demo_3{

background-image: conic-gradient(at center bottom, rgb(255, 255, 255), rgb(14, 165, 233), rgb(14, 165, 233));


}

.grad_demo_4{
background-image: linear-gradient(120deg, #185494, #EE1D23, #FAAF18, #FFFFFF);

}

.grad_demo_1{
  background-image: linear-gradient(114.95deg, rgba(235, 0, 255, 0.5) 0%, rgba(0, 71, 255, 0) 34.35%), linear-gradient(180deg, #004B5B 0%, #FFA7A7 100%), linear-gradient(244.35deg, #FFB26A 0%, #3676B1 50.58%, #00A3FF 100%), linear-gradient(244.35deg, #FFFFFF 0%, #004A74 49.48%, #FF0000 100%), radial-gradient(100% 233.99% at 0% 100%, #B70000 0%, #AD00FF 100%), linear-gradient(307.27deg, #1DAC92 0.37%, #2800C6 100%), radial-gradient(100% 140% at 100% 0%, #EAFF6B 0%, #006C7A 57.29%, #2200AA 100%);
background-blend-mode: hard-light, overlay, overlay, overlay, difference, difference, normal;

}
.grad_demo_root{
          min-height: 290px;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(25% - 1em);
        text-align: center;
    border-radius: 24px;
    padding: 20px;
    min-height: 170px;
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: radial-gradient(100% 100% at 50% 50%, hsla(0, 0%, 100%, .05) 0, hsla(0, 0%, 100%, 0) 100%);
    min-height: 290px;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(15% - 8px);
}

.grad_demos_wrapper{
      list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.lv_menu_item{
  background: var(--menu_1Bg);
  color: var(--menu_1Txt2);
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid var(--menu_1Bg);
}