.demo_root {
  background: var(--bodyG);
  color: var(--bodyTxt);
  height: 100vh;
  display: flex;
  column-gap: 12px;
}

.demo_item {
  width: 200px;
  margin: 8px;
  font-size: 10px;
}

.demo_card {
  /* height: 100px; */
  background: var(--eventBg);
  color: var(--eventTxt);
}
.demo_header {
  /* height: 100px; */
  background: var(--headerBg);
  color: var(--headerTxt);
}

.demo_header_child {
  background: var(--headerBg2);
  padding: 2px 8px;
}

.demo_card > span {
  color: var(--eventTxt2);
  display: block;
}
.demo_button > span {
  color: var(--buttonTxt2);
  display: block;
}
.demo_button {
  /* height: 100px; */
  background: var(--buttonBg);
  color: var(--buttonTxt);
}
