:root {
  --sk_zind: 90000000;
  --sk_zind2: calc(var(--sk_zind) + 10);
  --skinnerHeaderHeight: 32px;
  --skinnerHeaderTogglerSize: 50px;
  --skinnerToolboxHeight: 28px;
  --skinnerToolboxFooterHeight: 40px;
  --skinnerBtnHeight: 24px;
  --skinnerToolboxCollapserSize: 42px;
  --control-picker-size: 28px;
  --control-picker-size-border: calc(var(--control-picker-size) - 4px);
  --controls-row-height: 36px;
  --controls-ui-gap: 6px;
  --controls-ui-pad-x: 6px;
  --controls-ui-pad-y: 6px;
  --sk_grad_rainbow: linear-gradient(
    90deg,
    #ff637c,
    #8144cd,
    #7872e0,
    #56a9e2,
    #d2f58d,
    #ffd76b,
    #ff637c
  );
  --sk_rainbow_1: #ff637c;
  --sk_rainbow_2: #8144cd;
  --sk_rainbow_3: #7872e0;
  --sk_rainbow_4: #56a9e2;
  --sk_rainbow_5: #d2f58d;
  --sk_rainbow_6: #ffd76b;
}

.sk_path_string_root {
  height: 48px;
  position: relative;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.sk_path_string_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.sk_path_string_root > svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  stroke: var(--sk_accentBg);
  stroke-width: 2px;
  fill: var(--sk_dominantBg3);
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sk_actions_wrapper {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 0 8px;
  height: var(--skinnerToolboxFooterHeight);
  background: var(--sk_dominantBg3);
  position: absolute;
  border-top: 1px solid var(--sk_dominantBg3Hover);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nik_root_mobile #dm-main-container {
  display: block;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader > div {
  width: 40px;
  height: 40px;
  margin: 4px;
  background-color: rgba(1, 107, 113, 0.9);
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  animation: loader_letter_animation 2s infinite ease-in-out;
}

#loader > div:nth-child(1) {
  animation-delay: 0s;
}

#loader > div:nth-child(2) {
  animation-delay: 0.1s;
}

#loader > div:nth-child(3) {
  animation-delay: 0.2s;
}

#loader > div:nth-child(4) {
  animation-delay: 0.3s;
}

#loader > div:nth-child(5) {
  animation-delay: 0.4s;
}

#loader > div:nth-child(6) {
  animation-delay: 0.5s;
}

#loader > div:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loader_letter_animation {
  0% {
    transform: rotate(0);
    border-radius: 0;
  }

  50% {
    transform: rotate(360deg);
    border-radius: 50%;
  }

  100% {
    transform: rotate(-0);
    border-radius: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--sk_dominantBg);
  color: var(--sk_dominantTxt);
  font-family: "Roboto", sans-serif;
}

.sk_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--sk_dominantBg);
  color: var(--sk_dominantTxt2);
  /*border-bottom: 1px solid var(--sk_dominantBgHover);*/
  height: 24px;
  padding: 0;
  column-gap: 1px;
  font-size: 11px;
  z-index: 20;
  position: relative;
  pointer-events: none;
  mask-image: url(#mask_id);
}

.sk_header_label {
  width: 80px;
  flex-shrink: 0;
  background: var(--sk_dominantBg3);
  display: flex;
  height: 100%;
  align-items: center;
  padding-inline-start: 8px;
  flex-shrink: 0;
}

.sk_header_label.variant-essence {
  padding-inline-start: 12px;
  flex-grow: 1;
  min-width: 1px;
}

.sk_header_label.variant-radius {
  width: 176px;
}

.skinner_ico {
  width: 24px;
  height: 24px;
  display: block;
  fill: currentColor;
}

.skinner_ico > svg {
  width: 100%;
  height: 100%;
}

.skinner_ico_burger {
  fill: currentColor;
}

.nik_skinner_versioning {
  font-size: 12px;
  display: none;
}

.nik_skinner_link_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.nik_skinner_link {
  appearance: none;
  text-align: center;
  width: 100%;
  height: var(--skinnerBtnHeight);
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--sk_dominantBgHover);
  color: var(--sk_dominantTxt);
  transition: all 0.314s;
  text-transform: capitalize;
  font-size: 14px;
  position: relative;
  font-weight: 500;
  margin: 2px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px var(--shadow);
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  text-shadow: 0 1px 3px var(--shadow);
  padding: 0 8px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  min-width: 80px;
  width: auto;
  justify-content: center;
  flex-shrink: 0;
}

.nik_skinner_link:hover,
.nik_skinner_link-active {
  background-color: var(--sk_accentBg);
  color: var(--sk_accentTxt);
  position: relative;
  z-index: 10;
}

.sk_root {
  --w: 800px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  transition: transform 0.5s;
  z-index: var(--sk_zind);
  height: 320px;
  width: var(--w);
  color: var(--sk_dominantTxt);
  border: 1px solid var(--sk_dominantBgHover);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  background: var(--sk_dominantBg);
}

.sk_root.state_collapsed {
  transform: translateX(-50%) translateY(100%);
}

.sk_variant_mobile .sk_root {
  bottom: auto;
  left: auto;
  top: 50%;
  right: 0;
  transform: translateX(0) translateY(-50%);
  height: 600px;
  width: 720px;
}

.sk_variant_mobile .sk_root.state_collapsed {
  transform: translateX(100%) translateY(-50%);
}

.sk_tools_root {
  background: var(--sk_dominantBg);
  color: var(--sk_dominantTxt);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(calc(-100% - 8px));
  border-radius: 2px;
  border: 1px solid var(--sk_dominantBg3);
  padding: 2px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.pcr-app {
  z-index: var(--sk_zind2);
}

.skinner_toolbox-hide {
  transform: translate(-50%, 100%);
}

.skinner_ico_arrow {
  content: "";
  display: block;
  transition: transform 0.8s;
}

.skinner_ico_arrow-rotated {
  transform: rotate(180deg);
}

.skinner_toolbox_toggler {
  display: block;
  width: var(--skinnerToolboxHeight);
  height: var(--skinnerToolboxHeight);
  color: var(--sk_dominantTxt);
  background: var(--sk_dominantBg);
  position: relative;
  z-index: 10;
  border-radius: 50%;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--sk_accentBg);
}

.color_controls_toggle {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--sk_dominantBg);
  color: var(--sk_dominantTxt);
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 180ms ease-in-out;
  cursor: pointer;
}

.color_controls_toggle:hover {
  color: var(--sk_accentBg);
}

.skinner_toolbox_wrapper {
  height: 100%;
}

.sk_content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - var(--skinnerToolboxFooterHeight));
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 4px;
  padding-bottom: var(--skinnerToolboxFooterHeight);
}

.skn_controls_row {
  border: 1px solid var(--sk_dominantBg3Hover);
  display: flex;
  padding: 0 var(--controls-ui-pad-x);
  align-items: center;
  column-gap: var(--controls-ui-gap);
  height: var(--controls-row-height);
  background-color: var(--sk_dominantBg2);
  color: var(--sk_dominantTxt) !important;
  border-radius: 4px;
}

.sk_control_group {
  --sk_errorT1: rgba(206, 6, 6, 1);
  --sk_errorT0: rgba(206, 6, 6, 0);
  --sk_errorT2: rgba(206, 6, 6, 0.2);
  --sk_errorBg1: rgba(255, 255, 255, 0.6);

  --blur: none;
  --radius: flex;
  --border: flex;
  --gradient: flex;
  --tl: 60;
  --br: 60;
  --grp_opacity: 0.4;
  --grp_pos: 4px;
  height: var(--controls-row-height);
  display: flex;
  flex-direction: column;
  column-gap: 1px;
  position: relative;
  transition: box-shadow 0.2s;
  box-shadow: -2px 0px 0 0px var(--sk_dominantBg2Hover);
  box-shadow: none;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1px;
  align-items: center;
  border-radius: 4px;
  opacity: 0.5;
  background: var(--sk_dominantBg);
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--sk_dominantBg3Hover);
}

.sk_control_group.variant_overlay {
  --blur: flex;
  --radius: none;
  --border: none;
  --gradient: none;
}

.sk_control_group_label {
  font-size: 11px;
  width: 80px;
  text-transform: capitalize;
  flex-shrink: 0;
}

.sk_control_group.state_active {
  --tl: -267;
  --br: 385;
  /*box-shadow: -5px 0px 0 0px var(--sk_accentBg);*/
  opacity: 1;
  --grp_opacity: 1;
  --grp_pos: 0;
}

.nik_skinner_control_group_checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.314s;
  margin: 0;
}

.nik_skinner_control_group_checkbox:hover {
  transform: scale(1.1);
}

.sk_picker_trigger {
  width: var(--control-picker-size);
  height: var(--control-picker-size);
  flex-shrink: 0;
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.314s;
  border: 1px solid var(--sk_dominantShadow);
  position: relative;
  overflow: hidden;
}

.sk_picker_trigger.state_disabled {
  pointer-events: none;
  opacity: 0.2;
}

.sk_picker_trigger::before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(45deg);
}

.nik_skinner_control_group_picker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nik_skinner_control_group_picker.variant_bg {
  background: var(--bg) !important;
}

.nik_skinner_control_group_picker.variant_border {
  background: var(--border) !important;
}

.nik_skinner_control_group_picker.variant_text {
  background: var(--txt) !important;
}

.nik_skinner_control_group_picker.variant_accent {
  background: var(--acc) !important;
}

.nik_skinner_control_group_picker:hover {
}

.nik_skinner_control_group_picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.nik_skinner_control_group_picker::-webkit-color-swatch {
  border: 1px solid #11585d;
  border-radius: 50%;
}

.nik_skinner_control_group_picker:disabled {
  opacity: 0.3;
}

.nik_skinner_control_collapse_collapser {
  font-size: 11px;
  text-align: start;
  font-weight: 500;
  flex-shrink: 0;
  position: relative;
  display: flex;
  z-index: 10;
  padding: 0 12px;
  border-radius: 6px;
  width: 70px;
  display: flex;
  flex-grow: 0;
  padding: 0;
  z-index: 10;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 1px;
  background: transparent;
  border: 0;
}

.nik_skinner_control_collapse_collapser > span {
  flex-grow: 1;
  color: var(--sk_dominantTxt) !important;
}

.nik_skinner_control_collapse_collapser-open {
  background: var(--skinnerToolboxAccent);
  color: var(--skinnerToolboxAccentTxt);
  border-bottom-color: var(--skinnerToolboxAccent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes expand {
  0% {
    max-height: 0;
    border: 0;
    padding: 0;
  }

  100% {
    max-height: 0;
  }

  100% {
    max-height: 500px;
  }
}

@keyframes collapse {
  0% {
    max-height: 500px;
  }

  100% {
    max-height: 500px;
  }

  100% {
    max-height: 0;
    border: 0;
    padding: 0;
  }
}

.nik_skinner_control_collapse_content {
  max-height: 0;
  background-color: var(--sk_dominantBg);
  display: flex;
  column-gap: var(--controls-ui-gap);
  flex-direction: row;
  max-height: initial;
  animation: none;
  padding: 0;
  border: 0;
}

.nik_skinner_control_collapse_content-show {
  /*max-height: 600px;*/
  /*animation: expand 0.5s ease-in forwards;*/
}

.skinner_canvas {
  width: 100%;
  min-height: 300px;
  border: 1px solid #000;
}

.skinner_showcase {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 0 16px;
}

.sk_btn {
  appearance: none;
  border: 0;
  text-align: center;
  height: var(--skinnerBtnHeight);
  text-decoration: none;
  background-color: var(--sk_buttonBg);
  color: var(--sk_buttonTxt);
  fill: var(--sk_buttonTxt);
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  position: relative;
  font-weight: 700;
  padding: 0 6px;
  border-radius: 2px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.sk_btn.variant_load {
}

.sk_config_root {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 1px;
  column-gap: 4px;
}

.sk_btn.state_active {
  background: conic-gradient(
    from 90deg at 50% 50%,
    #ff637c,
    #8144cd,
    #7872e0,
    #56a9e2,
    #d2f58d,
    #ffd76b,
    #ff637c
  );
  color: #fff;
}

.sk_btn.variant_icon {
  width: var(--skinnerBtnHeight);
  height: var(--skinnerBtnHeight);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sk_buttonTxt2);
  fill: var(--sk_buttonTxt2);
  stroke: var(--sk_buttonTxt2);
}

.sk_btn:hover {
  background-color: var(--sk_buttonBgHover);
}

.sk_btn.variant_cta {
  background-color: var(--sk_accentBg);
  color: var(--sk_accentTxt);
  position: relative;
}

.sk_btn.variant_cta:hover {
  background-color: var(--sk_accentBgHover);
  color: var(--sk_accentTxt);
}

/* view switchers */
.nik_sport_web_views_switchers_wrapper {
  display: flex;
  align-items: center;
}

.view_switcher_btn {
  display: none;
}

.view_switcher_lbl {
  background-color: #222222;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  height: 24px;
  line-height: 24px;
  width: 100px;
  text-align: center;
  top: 8px;
  z-index: 100;
}

.view_switcher_lbl:hover,
.view_switcher_btn:checked + .view_switcher_lbl {
  background-color: #00aabe;
}

#euviewSwitcher:checked ~ .europeanView {
  display: flex !important;
}

#ppviewSwitcher:checked ~ .paperView {
  display: block !important;
}

#africanviewSwitcher:checked ~ .africanView {
  display: block !important;
}

.nik_skinner_header_controls {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: var(--controls-ui-pad-y) var(--controls-ui-pad-x);
  color: var(--sk_dominantTxt2);
  background: var(--sk_dominantBg2Hover);
  z-index: 10;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid var(--sk_dominantBgHover);
  column-gap: 4px;
  height: var(--skinnerToolboxHeight);
}

.nik_skinner_header {
  position: fixed;
  top: 0px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--sk_dominantBg2);
  color: var(--sk_dominantTxt);
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--skinnerBg2);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.nik_skinner_load_config {
  padding: 0 8px;
  height: 30px;
  background-color: var(--sk_dominantBg2);
  color: var(--sk_dominantTxt);
  border-radius: 2px;
  border: 1px solid var(--sk_dominantBgHover);
  outline: 0;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 8px;
  transition: border-color 0.314s;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.nik_skinner_load_config:hover {
  border-color: var(--sk_accentBg);
}

.nik_skinner_header_control {
  width: 120px;
  flex-shrink: 0;
  text-align: center;
  flex-shrink: 0;
}

.nik_skinner_header_control:last-child {
  border: 0;
}

.nik_skinner_header_control-name,
.nik_skinner_header_control-big {
  width: 120px;
}

.nik_skinner_header_control-small {
  width: 64px;
}

.nik_skinner_header_control-bg {
  width: 188px;
}

.nik_skinner_header_control-gg {
  width: 112px;
}

.nik_skinner_header_control-radius {
  width: 160px;
}

.sk_input_text {
  width: 50px;
  font-size: 11px;
  height: 24px;
  font-weight: 500;
  background: var(--sk_dominantBg);
  color: var(--sk_dominantTxt2);
  border-radius: 2px;
  text-align: right;
  border: 0;
  border: 1px solid var(--sk_dominantShadow);
  outline: 0;
  padding: 0 6px;
}

.sk_widget_collapse_block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.sk_widget_block_header {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background: var(--sk_dominantBg3);
  color: var(--sk_dominantTxt3);
  font-size: 10px;
  text-transform: capitalize;
  column-gap: 6px;
}

.sk_widget_block_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 10px;
}

.sk_layout_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.sk_layout_col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 4px;
}

.sk_input_text.variant_large {
  height: var(--skinnerBtnHeight);
}

.nik_skinner_header_control_radius {
  width: 200px;
}

.nik_skinner_header_control_name {
  flex-grow: 1;
  min-width: 1px;
  text-align: left !important;
  width: 100px;
}

.sk_checkbox_wrapper {
  display: flex;
  height: var(--controls-row-height);
  align-items: center;
  justify-content: center;
  background-color: var(--sk_dominantBg3);
  flex-shrink: 0;
  position: relative;
  margin: 0;
  flex-shrink: 0;
  border-radius: 0;
  column-gap: 4px;
  padding: 2px 8px;
}

.sk_checkbox_wrapper.variant_two_items {
  width: 80px;
  flex-shrink: 0;
}

.sk_checkbox_wrapper.variant_blur {
  display: var(--blur);
}

.sk_checkbox_wrapper.variant_borderRadius {
  display: var(--radius);
}

.sk_checkbox_wrapper.variant_gradient {
  display: var(--gradient);
}

.sk_checkbox_wrapper.variant_border {
  display: var(--border);
}

.sk_style_trigger {
  width: var(--control-picker-size);
  height: var(--control-picker-size);
  flex-shrink: 0;
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  background: #11585d;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.314s;
  border: 1px solid var(--sk_dominantBg3Hover);
  position: relative;
  overflow: hidden;
}

.sk_checkbox_wrapper > .pickr {
  position: absolute;
}

.sk_checkbox_wrapper:last-child {
  margin: 0;
}

.sk_checkbox_wrapper.sk_checkbox_wrapper-range {
  width: 100%;
  justify-content: flex-start;
  padding: 4px 8px;
}

.nik_skinner_control_group_checkbox_wrapper > input {
  display: none;
}

.nik_skinner_control_group_checkbox_wrapper
  > .nik_skinner_control_group_checkbox_imitator {
  background-image: url("../assets/chb_unchecked.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  transition: all 0.1s;
  cursor: pointer;
  position: relative;
}

/*.state_delay_2 {
    transition-delay: 0.1s;
  }
  .state_delay_3 {
    transition-delay: 0.2s;
  }
  .state_delay_4 {
    transition-delay: 0.3s;
  }
  .state_delay_5 {
    transition-delay: 0.4s;
  }*/

.nik_skinner_control_group_checkbox_wrapper
  > input:disabled
  + .nik_skinner_control_group_checkbox_imitator {
  opacity: 0.2;
}

.sk_checkbox_wrapper-controls .nik_skinner_control_group_checkbox_wrapper {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.sk_scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sk_scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.sk_scrollbar::-webkit-scrollbar-thumb {
  background: var(--sk_dominantBg2);
  border-radius: 2px;
}

/* Handle on hover */
.sk_scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--sk_dominantBg2);
}

.nik_skinner_control_group_range {
  width: 300px;
}

#skinner_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 90;
}

.skinner_ui_toggler_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 49px;
  height: 39px;
  z-index: 110;
  background-color: var(--sk_dominantBg);
  border: 1px solid var(--sk_dominantBgHover);
  border-right: 0;
  color: var(--sk_dominantTxt);
  border-radius: 5px 0 0 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}

.skinner_ui_toggler_wrapper input {
  display: none;
}

.skinner_ui_toggler_wrapper i {
  cursor: pointer;
}

.sk_hide_ui .skinner_toolbox {
  transform: translate(-50%, calc(100% + 30px));
}

.nik_skinner_select_theme {
  width: 150px;
  line-height: 26px;
  height: 25px;
  background-color: #11585d;
  color: #f3f3f3;
  border-radius: 4px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  cursor: pointer;
  padding: 0 10px;
}

.nik_skinner_select_theme_wrapper {
  position: absolute;
  right: 60px;
  top: 10px;
}

#betslip-root-inner {
  left: auto !important;
  right: 0;
  transform: translateX(0) !important;
}

.nik_skinner_download_button_wrapper {
  border-top: 1px solid var(--skinnerToolboxAccent);
  background-color: var(--skinnerToolboxBg3);
  height: var(--skinnerToolboxFooterHeight);
  padding: 12px;
}

.nik_skinner_download_button_wrapper_row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.nik-hidden > * {
  visibility: hidden;
}

/*range input styling*/
input[type="range"]:disabled {
  opacity: 0.3;
}

input[type="range"] {
  width: calc(100% - 27px);
  margin: 5.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--sk_dominantBg);
  border: 1px solid var(--sk_dominantShadow);
  border-radius: 2px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -4px;
  width: 14px;
  height: 14px;
  background-color: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantShadow);
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
  background: var(--sk_dominantBg);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--sk_dominantBg);
  border: 0.2px solid rgba(0, 0, 0, 0);
  border-radius: 18px;
  cursor: pointer;
}

.sk_switch_root {
  display: flex;
  position: relative;
  align-items: center;
}

.sk_switch_lbl {
  font-size: 9px;
  width: 40px;
  flex-shrink: 0;
}

.sk_switch_input {
  display: none;
}

.sk_switch_root > .sk_switch_input + .sk_switch_imitator {
  --trackBg: var(--sk_dominantShadow);
  --thumbBg: var(--sk_dominantBg2);
  --tr: 0;
}

.sk_switch_root > .sk_switch_input:checked + .sk_switch_imitator {
  --trackBg: var(--sk_accentBg);
  --thumbBg: var(--sk_accentTxt);
  --tr: 16px;
}

.sk_switch_root > .sk_switch_input:checked ~ .sk_switch_icon {
  background: var(--sk_accentBg);
  color: var(--sk_accentTxt);
  border-color: var(--sk_accentBg2);
}

.sk_switch_imitator {
  width: 36px;
  height: 20px;
  background-color: var(--trackBg);
  flex-shrink: 0;
  display: block;
  position: relative;
  border-radius: 12px;
}

.sk_switch_imitator::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--thumbBg);
  border: 2px solid var(--trackBg);
  flex-shrink: 0;
  display: block;
  transform: translate(var(--tr));
  border-radius: 50%;
  transition: all 0.2s;
}

.sk_switch_icon {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
  background: var(--sk_dominantBg2);
  color: var(--sk_dominantTxt2);
  border-radius: 2px;
  border: 1px solid var(--sk_dominantBg3);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: var(--sk_dominantTxt2);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type="range"]::-ms-fill-upper {
  background: var(--sk_accentBg);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--sk_dominantTxt2);
  border: 0.2px solid rgba(0, 0, 0, 0);
  border-radius: 18px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--sk_accentBg);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--sk_accentBg);
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

/*checkbox*/
.sk_chb_label input[type="checkbox"] {
  display: none;
}

:root {
  --chbSize: 24px;
  --chbH: var(--chbSize);
  --wrapperChbSize: 42px;
  --chbSizeBorder: 1px;
  --chbBg: var(--sk_dominantBgHover);
  --activeChbBg: var(--sk_AccentBgHover);
}

.sk_chb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--sk_dominantBg);
  cursor: pointer;
  border: var(--chbSizeBorder) solid var(--sk_dominantShadow);
  border-radius: 6px;
  color: var(--sk_dominantBg);
  transition: background 0.2s;
}

.sk_chb_label.variant_tone {
  --chbSize: 32px;
  --chbH: 18px;
}

.sk_chb_label.variant_tone .sk_chb {
  color: transparent !important;
  border: 0 !important;
  opacity: 1 !important;
  border-radius: 0;
  background: linear-gradient(
    to right,
    var(--bg1) 0%,
    var(--bg1) 33.33%,
    var(--bg2) 33.33%,
    var(--bg2) 66.66%,
    var(--bg3) 66.66%,
    var(--bg3) 100%
  ) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sk_chb_label {
  width: var(--chbSize);
  height: var(--chbH);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

.sk_chb_label > input[type="checkbox"]:checked + .sk_chb {
  background: var(--sk_accentBg);
  color: var(--sk_accentTxt);
  border-color: var(--sk_accentBgHover);
  --stroke_dash_arr: 16;
  --stroke_dash_off: 0;
}

.sk_chb {
  --stroke_dash_arr: 16;
  --stroke_dash_off: 16;
}

.sk_svg_path_checkbox {
  fill: none;
  stroke: var(sk_accentTxt);
  stroke-width: 2;
  stroke-dasharray: var(--stroke_dash_arr);
  stroke-dashoffset: var(--stroke_dash_off);
  transition: stroke-dashoffset 0.2s;
  transition-delay: 0.1s;
}

/*picker*/
.pickr {
  flex-grow: 1;
  min-width: 1px;
  height: 35px;
}

.pickr .pcr-button {
  overflow: auto;
  width: 100%;
  height: 100%;
  /*border-radius: 6px;*/
}

.pickr .pcr-button:after {
  /*box-shadow: inset -3px 0px 1px 1px rgba(0,0,0,0.3), inset 0px 0px 1px 1px rgba(255,255,255,0.3);
  border-radius: 50%;*/
}

.pcr-app {
  background-color: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantBg3Hover);
}

.pcr-app .pcr-interaction .pcr-result {
  background-color: var(--sk_dominantBg);
  color: var(--sk_dominantTxt2);
  border-radius: 2px;
  border: 1px solid var(--sk_dominantShadow);
}

.pcr-app[data-theme="classic"] {
  width: 19.5em;
}

.sk_input_wrapper {
  position: relative;
  height: var(--skinnerBtnHeight);
  flex-grow: 1;
  min-width: 1px;
}

.sk_input_config {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  margin: 0;
  padding: 0 8px;
  background-color: var(--sk_dominantBg);
  color: var(--sk_dominantTxt);
  border: 0;
  border-radius: 2px;
  border: 1px solid var(--sk_dominantShadow);
  outline: 0;
  font-size: 11px;
  display: block;
  cursor: pointer;
  transition: height 0.2s;
  resize: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  line-height: 22px;
  font-weight: 500;
  overflow: hidden;
  z-index: 80;
}

.sk_input_config:focus {
  height: 300px;
  overflow: auto;
}

.nik_skinner_message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantBg3Hover);
  color: var(--sk_dominantTxt2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 2px;
  z-index: 12;
  padding: 8px;
  font-size: 12px;
}

.nik_skinner_message.hide {
  display: none;
}

.skinner_main_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.skinner_main_wrapper-mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}

.skinner_main_wrapper-mobile .nik_skinner_mobile_iframe_wrapper {
  width: 100%;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to right,
    var(--sk_dominantBgHover),
    var(--sk_dominantBg2)
  );
  border-radius: 20px;
  border: 2px solid var(--sk_dominantBg2);
}

.skinner_main_wrapper-mobile .nik_skinner_mobile_iframe_wrapper iframe {
  width: 100%;
}

.skinner_main_wrapper-mobile .color_controls_toggle {
  display: none;
}

.skinner_main_wrapper iframe {
  width: 1920px;
  border: 0px;
  transform: scale(0.5) translate(-50%, -50%);
}

.skinner_main_wrapper.skinner_main_wrapper-mobile iframe {
  width: 100%;
  transform: none;
}

.skinner_ui_switcher {
  width: calc(var(--skinnerToolboxHeight) + 10px);
  background-color: var(--sk_dominantBg);
  color: var(--sk_dominantTxt);
  border: 2px solid var(--sk_accentBg);
  border-radius: 16px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--skinnerToolboxHeight);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
}

.sk_ui_controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  position: absolute;
  top: calc(-1 * var(--skinnerToolboxHeight) + -12px);
  right: 0;
  z-index: 10;
  height: calc(var(--skinnerToolboxHeight) + 8px);
  padding: 4px 8px;
  background: var(--sk_dominantBg2);
  color: var(--sk_dominantTxt2);
  border-radius: 4px;
  border: 1px solid var(--sk_dominantBg3);
}

.sk_variant_mobile .sk_ui_controls {
  flex-direction: column;
  row-gap: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: calc(var(--skinnerToolboxHeight) + 8px);
  height: auto;
  padding: 4px 8px;
  transform: translateX(calc(-100% - 12px));
}

.skinner_ui_switcher > i {
  display: relative;
  z-index: 10;
  transition: color 0.1s;
}

.skinner_ui_switcher > input {
  display: none;
}

.skinner_ui_switcher > span {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--sk_accentBg);
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0);
  transition: background-color 0.2s, transform 0.1s;
}

.skinner_ui_switcher > input:checked ~ span {
  transform: translateX(10px);
}

.skinner_settings_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 6px;
}

.sk_label_sm {
  width: 100px;
  flex-shrink: 0;
  font-size: 11px;
}

.nik_skinner_control_collapse_collapser > .skinner_ico_arrow {
  display: none;
}

.sk_checkbox_wrapper.sk_checkbox_wrapper-small {
  width: 64px;
}

.sk_checkbox_wrapper.sk_checkbox_wrapper-range {
  width: 160px;
}

.ap_root {
  --w: 24px;
  width: var(--w);
  height: var(--w);
  border-radius: 50%;
  background: var(--sk_dominantBg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-shrink: 0;
  cursor: pointer;
}

.disabled.ap_root {
  opacity: 0.5;
  pointer-events: none;
}

.ap_stick {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 1%;
  height: 50%;
  background-color: var(--skinnerToolboxAccent);
  transform-origin: bottom;
}

.ap_angle {
  font-size: 10px;
}

.cms_row {
  display: flex;
  align-items: center;
  padding: 8px;
  column-gap: 8px;
}

.cms_btn {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-shrink: 0;
  border: 0;
  outline: 0;
  height: 26px;
  border-radius: 4px;
  background-color: var(--sk_dominantBg2Hover);
  color: var(--sk_dominantTxt2);
  font-size: 12px;
  font-weight: 500;
  transition: all 0.314s;
  padding: 0 8px;
  column-gap: 4px;
}

.cms_btn:hover {
  background-color: var(--sk_dominantBg2);
  color: var(--sk_dominantTxt);
}

.cms_btn.variant_accent {
  background: var(--sk_accentBg);
  color: var(--sk_accentTxt);
}

.cms_btn.variant_accent:hover {
  background: var(--sk_accentBgHover);
  color: var(--sk_accentTxt);
}

.skinner_disabled {
  cursor: not-allowed;
  opacity: 0.2;
  pointer-events: none;
}

.skinner_picker_trigger_hide {
  display: none;
}

.pickr {
  width: 0 !important;
  max-width: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  min-width: 0 !important;
  max-width: 35px;
  height: 35px;
  margin: 0 4px;
}

.skinner_main_wrapper iframe {
  width: 100%;
  transform: none;
}

.skinner_main_wrapper-mobile {
  --skinnerToolboxFooterHeight: 100px;
}

.nik_skinner_download_button_wrapper {
  padding: 2px 8px;
}

.nik_skinner_download_button_wrapper_row {
  padding-top: 2px;
  padding-bottom: 2px;
}

.skinner_main_wrapper-mobile > .skinner_toolbox {
  bottom: auto;
  position: relative;
  transform: none;
  left: auto;
  height: calc(100% - 100px);
}

.skinner_main_wrapper-mobile .nik_skinner_mobile_iframe_wrapper {
  width: 30%;
  padding: 24px;
}

.skinner_ui_label_sm {
  display: none;
}

.dg_sport_icons_tiny [class^="dg_icon_"],
.dg_sport_icons_tiny [class*=" dg_icon_"] {
  --imageSize: 20px;
  width: 20px;
  height: 20px;
  line-height: 19px;
  font-size: 29px;
}

.sk_svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
  width: 22px;
  height: 22px;
}

.sk_chb_base {
  cursor: pointer;
}

.sk_chb_base > input {
  display: none;
}

.sk_chb_base .sk_chb_base_ico {
  --activeDisplay: none;
  --passiveDisplay: block;
}

.sk_chb_base > input:checked + .sk_chb_base_ico {
  --activeDisplay: block;
  --passiveDisplay: none;
}

.svg_path_top {
  display: var(--activeDisplay);
}

.svg_path_bot {
  display: var(--activeDisplay);
}

.svg_path_bot_t {
  display: var(--passiveDisplay);
}

.skinner_ui_control_wrapper {
  width: var(--skinnerBtnHeight);
  height: var(--skinnerBtnHeight);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantBg3Hover);
  border-radius: 4px;
  color: var(--sk_dominantTxt2);
  box-shadow: 0px 0px 0px 1px var(--sk_dominantShadow);
}

.nik_skinner_control_group {
  position: relative;
}

.nik_skinner_control_group.state_not_readable::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: linear-gradient(
    90deg,
    rgb(189 24 7 / 17%),
    rgb(189 24 7 / 0%) 50%
  );
  pointer-events: none;
}

.sk_g_picker_root.state_visible {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 8px;
}

.sk_g_picker_root {
  display: none;
  --input_size: 28px;
  --solid_size: 24px;
  position: fixed;
  width: 250px;
  height: auto;
  z-index: calc(var(--sk_zind) + 100);
  top: 0px;
  transform: translate(0, 0);
  border: none;
  background: var(--sk_dominantBg);
  border: 1px solid var(--sk_dominantBgHover);
  flex-direction: column;
  align-items: stretch;
  padding: 6px;
  border-radius: 4px;
  flex-direction: column;
  row-gap: 4px;
}

.sk_input_control_group {
  position: relative;
  width: calc(50% - 4px);
}

.sk_input_control_group > .sk_input {
  width: 100%;
}

.sk_input_control_group_block {
  column-gap: 8px;
  row-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  color: var(--sk_dominantTxt2);
}

.sk_ui_prd_styles_root {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 1px;
}

.sk_actions_wrapper_styler {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 6px;
  padding: 8px;
  background: var(--sk_dominantBg2);
  position: absolute;
  border-top: 1px solid var(--sk_dominantBg3Hover);
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.sk_input_control_group_block.state_hide {
  display: none;
}

.sk_input_control_icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.sk_ui_custom_change_controls_wrapper {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  background: var(--sk_dominantBg);
  width: 100px;
  border-radius: 4px;
  border: 1px solid var(--sk_dominantBg2);
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sk_ui_custom_change_root.state-reveal {
  animation: appear 0.3s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sk_styler_control_row {
  display: flex;
  align-items: center;
  column-gap: var(--controls-ui-gap);
}

.sk_styler_control_row_label {
  flex-grow: 1;
  min-width: 1px;
  font-size: 10px;
  text-align: right;
}

.sk_styler_control_row.variant_color {
  width: calc(50% - 5px);
}

.sk_styler_control_holder > .pickr {
  position: absolute;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 4px;
}

.sk_block_separator_y {
  width: 1px;
  flex-shrink: 0;
  height: 24px;
  background: var(--sk_dominantBg);
  flex-shrink: 0;
}

.sk_input {
  appearance: none;
  width: 50px;
  font-size: 11px;
  height: var(--input_size);
  font-weight: 500;
  background: var(--sk_dominantBg);
  color: var(--sk_dominantTxt2);
  border-radius: 4px;
  text-align: right;
  border: 0;
  border: 1px solid var(--sk_dominantShadow);
  outline: 0;
  padding: 0 6px;
}

/*********** Baseline, reset styles ***********/
input[type="range"].sk_control_padding {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  width: 32px;
  height: calc(100% + 24px);
  height: 100%;
  display: block;
}

/* Removes default focus */
input[type="range"].sk_control_padding:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"].sk_control_padding::-webkit-slider-runnable-track {
  background-color: var(--inputsOverlay);
  border-radius: 0px;
  height: 100%;
  border: 0;
}

/* slider thumb */
input[type="range"].sk_control_padding::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -4px;
  margin-top: 0;
  background-color: var(--inputsCta);
  border-radius: 0px;
  width: 6px;
  height: calc(100% + 8px);
}

input[type="range"].sk_control_padding:focus::-webkit-slider-thumb {
  outline: 1px solid var(--inputsCta);
  outline-offset: 1px;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"].sk_control_padding::-moz-range-track {
  background-color: var(--inputsOverlay);
  border-radius: 0px;
  height: 100%;
  border: 0;
}

/* slider thumb */
input[type="range"].sk_control_padding::-moz-range-thumb {
  background-color: var(--inputsOverlay);
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0px;
  height: 100%;
  width: 12px;
}

input[type="range"].sk_control_padding:focus::-moz-range-thumb {
  outline: 1px solid var(--inputsCta);
  outline-offset: 1px;
}

.sk_control_padding_wrapper.variant_start {
  position: absolute;
  left: 0;
}

.sk_control_padding_wrapper:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    var(--sk_dominantTxt2) 0 1px,
    transparent 0 6px,
    var(--sk_dominantTxt2) 0 7px
  );
  width: var(--percent);
  pointer-events: none;
  border: 2px solid var(--sk_dominantTxt2);
}

.sk_control_padding_wrapper {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.sk_control_padding_wrapper.variant_end {
  right: 0;
}

.sk_control_padding_wrapper.variant_end:before {
  left: auto;
  right: 0;
}

.sk_flip {
  direction: rtl;
}

.sk_control_radius_root {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  z-index: 10;
  position: absolute;
}

.sk_control_radius_root > .sk_control_radius {
  transform-origin: left center;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
}

.sk_control_radius_root.variant_tl {
  top: 0;
  left: 0;
  transform: rotate(0deg);
}

.sk_control_radius_root.variant_tr {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.sk_control_radius_root.variant_br {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.sk_control_radius_root.variant_bl {
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
}

.sk_control_radius_indicator {
  background-color: var(--inputsOverlay);
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background: repeating-linear-gradient(
    45deg,
    var(--sk_dominantTxt2) 0 1px,
    transparent 0 6px,
    var(--sk_dominantTxt2) 0 7px
  );
  pointer-events: none;
  border: 2px solid var(--sk_dominantTxt2);
}

/*********** Baseline, reset styles ***********/
input[type="range"].sk_control_radius {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: var(--max);
  height: 12px;
  margin-top: -6px;
}

/* Removes default focus */
input[type="range"].sk_control_radius:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"].sk_control_radius::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 0px;
  height: 100%;
  border: 0;
}

/* slider thumb */
input[type="range"].sk_control_radius::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: 0px;
  /* Centers thumb on the track */
  background-color: var(--inputsCta);
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

input[type="range"].sk_control_radius:focus::-webkit-slider-thumb {
  outline: 1px solid var(--inputsCta);
  outline-offset: 1px;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"].sk_control_radius::-moz-range-track {
  background-color: transparent;
  border-radius: 0px;
  height: 100%;
  border: 0;
}

/* slider thumb */
input[type="range"].sk_control_radius::-moz-range-thumb {
  background-color: var(--inputsOverlay);
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 50%;
  height: 100%;
  width: 4px;
}

input[type="range"].sk_control_radius:focus::-moz-range-thumb {
  outline: 1px solid var(--inputsCta);
  outline-offset: 1px;
}

.sk_ui_custom_change_controls_pickers_wrapper {
  display: flex;
  align-items: center;
  column-gap: 6px;
  flex-grow: 1;
  min-width: 1px;
}

.sk_ui_custom_change_controls_paddings_wrapper {
  position: absolute;
  top: 0;
  right: calc(100% + 16px);
  background: var(--sk_dominantBg);
  width: 100px;
  border-radius: 4px;
  border: 1px solid var(--sk_dominantBg2);
  padding: 8px;
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sk_ui_custom_change_controls_radiuses_wrapper {
  position: absolute;
  top: 0;
  left: calc(100% + 16px);
  background: var(--sk_dominantBg);
  width: 100px;
  border-radius: 4px;
  border: 1px solid var(--sk_dominantBg2);
  padding: 8px;
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sk_ui_custom_change_modals_container {
  position: fixed;
  bottom: 8px;
  right: 8px;
  top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  align-items: stretch;
  background: var(--sk_dominantBg);
  padding: 8px;
  border-radius: 4px;
  z-index: var(--sk_zind);
}

.sk_ui_custom_change_modals_container .sk_widget_collapse_block {
  width: 160px;
  flex-shrink: 0;
}

.sk_ui_pickers_row {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.sk_ui_custom_change_modals_group {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 8px;
  row-gap: 8px;
}

.sk_ui_custom_change_root.variant_start .sk_ui_custom_change_modals_container {
  right: auto;
  left: 0;
}

.sk_iconic_checkbox {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
  display: block;
}


.sk_iconic_checkbox > input {
  display: none;
}

.sk_iconic_checkbox > i {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  cursor: pointer;
  background: var(--sk_dominantBg3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sk_iconic_checkbox > i > .sk_svg {
  --size: 16px;
  width: var(--size);
  height: var(--size);
}

.sk_iconic_checkbox > input:checked + i {
  background: var(--sk_dominantBg2);
}

.sk_control_group_action {
  --iconColor: var(--sk_dominantTxt3);
  --iconOpacity: 0.2;
  appearance: none;
  --size: 18px;
  border: 0;
  outline: 0;
  color: var(--iconColor);
  opacity: var(--iconOpacity);
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: var(--iconBg);
  position: relative;
  z-index: 10;
  cursor: help;
  border-radius: 4px;
}

.sk_control_group_action > .sk_svg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.sk_control_group.state_active.state_issue:before {
  content: "";
  background: linear-gradient(90deg, var(--sk_errorT2), var(--sk_errorT0));
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 100px;
  z-index: 10;
  pointer-events: none;
}

.sk_control_group_action.state_issue {
  --iconColor: var(--sk_errorT1);
  --iconBg: var(--sk_errorBg1);
  --iconOpacity: 1;
}

.sk_checkbox_wrapper.variant_name {
  flex-grow: 1;
  min-width: 1px;
  justify-content: flex-start;
  column-gap: 8px;
}

.sk_checkbox_wrapper.variant_name {
  flex-grow: 1;
  min-width: 1px;
  justify-content: flex-start;
  column-gap: 8px;
}

.sk_styler_ui_root {
  width: 100%;
  padding: 24px 8px 8px;
  height: calc(100% - var(--skinnerToolboxFooterHeight));
  overflow-y: auto;
  overflow-x: hidden;
}

.sk_styler_ui_control_label {
  font-size: 11px;
  text-align: start;
  font-weight: 500;
  flex-grow: 1;
  min-width: 1px;
}

.sk_hidden {
  display: none;
}

.sk_styler_ui_control_wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  column-gap: 8px;
  /* background-color: var(--sk_dominantBg); */
  flex-shrink: 0;
  position: relative;
  border-radius: 2px;
  row-gap: 8px;
}

.sk_styler_ui_control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  /* opacity: 0.2; */
  /* pointer-events: none; */
}

.sk_styler_ui_control.state_active {
  opacity: 1;
  display: flex;
  pointer-events: all;
}

.sk_styler_ui_control_group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 4px;
  width: 50%;
}

.sk_styler_ui_control_group.variant_picker {
  display: flex;
  column-gap: 4px;
  padding: 2px 8px;
  height: var(--controls-row-height);
  align-items: center;
  background-color: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantBg3Hover);
  width: 100%;
  border-radius: 4px;
  flex-direction: row;
  width: 100%;
}

.sk_styler_ui_control_group.variant_corners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 4px;
  column-gap: 4px;
  background: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantBg3Hover);
  padding: 8px 8px;
  border-radius: 4px;
  width: 100%;
}

.sk_styler_ui_control_group.variant_padding {
  display: flex;
  column-gap: 4px;
  padding: 2px 8px;
  align-items: flex-start;
  background-color: var(--sk_dominantBg3);
  border: 1px solid var(--sk_dominantBg3Hover);
  width: 100%;
  border-radius: 4px;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.sk_styler_ui_control_group.variant_paddings .sk_styler_ui_control {
  border-radius: 0;
}

.sk_styler_ui_control.variant_padding {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sk_styler_input_wrapper {
  position: relative;
  width: 100%;
}

.sk_styler_input_wrapper > .sk_styler_ui_control_label {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
}

.sk_styler_input_wrapper > .sk_input_text {
  width: 100%;
}

.sk_styler_ui_control_background {
}

.sk_root.state_styler_open {
  --w: 400px;
}

.sk_root.state_styler_open .sk_header {
  background: var(--sk_dominantBg3);
}

.sk_root.state_styler_open .sk_header > * {
  display: none;
}

.sk_styler_ui_pickers_wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sk_styler_ui_control_group {
  flex-grow: 1;
  min-width: 1px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
.sk_state_btn {
  appearance: none;
  border: 0;
  text-align: center;
  height: var(--skinnerBtnHeight);
  text-decoration: none;
  background-color: var(--sk_buttonBg);
  color: var(--sk_buttonTxt);
  fill: var(--sk_buttonTxt);
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  position: relative;
  font-weight: 700;
  padding: 0 6px;
  border-radius: 2px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.sk_state_btn.active {
  background-color: var(--sk_accentBg);
  color: var(--sk_accentTxt);
}

.sk_state_switcher {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sk_styler_layout_root{
  --size: 200px;
    position: relative;
    height: var(--size);
    padding: 8px;
    background: var(--sk_dominantBg3);
    border-radius: 4px;
    border: 1px solid var(--sk_dominantBgHover);
}
.sk_styler_layout_control{
  position: absolute;
  width: 33.333%;
  height: 33.333%;
    font-size: 11px;
    font-weight: 500;
    color: var(--sk_dominantTxt2);
    border-radius: 2px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}
.sk_styler_layout_control_input{
    appearance: none;
    width: 100px;
    height: 30px;
    border: 0;
    text-align: right;
    padding-inline-start: 8px;
    padding-inline-end: 24px;
    flex-grow: 1;
    min-width: 1px;
    font-weight: 500;
    background: var(--sk_dominantBg);
    color: var(--sk_dominantTxt2);
    border-radius: 2px;
    border: 1px solid var(--sk_dominantShadow);
}
.sk_styler_layout_control_label{
  font-size: 10px;
  color: var(--sk_dominantTxt3);
    position: absolute;
    right: 16px;
}


.sk_styler_layout_control.variant_ps,
.sk_styler_layout_control.variant_pe{
    top: 50%;
    transform: translateY(-50%);
}

.sk_styler_layout_control.variant_ps{
    left: 0;
}
.sk_styler_layout_control.variant_pe{
    right: 0;
}

.sk_styler_layout_control.variant_pt,
.sk_styler_layout_control.variant_pb{
    left: 50%;
    transform: translateX(-50%);
}

.sk_styler_layout_control.variant_pt{
    top: 0;
}
.sk_styler_layout_control.variant_pb{
    bottom: 0;
}

.sk_iconic_checkbox.variant_lock{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sk_styler_control_group {
    display: flex;
    align-items: center;
    background: var(--sk_dominantBg3);
    border: 1px solid var(--sk_dominantBg3Hover);
    padding: 6px 8px;
    border-radius: 4px;
    color: var(--sk_dominantTxt);
    column-gap: 8px;
}
.sk_styler_control_group > .sk_styler_control_group_container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.sk_styler_control_group > span {
    flex-grow: 1;
    min-width: 1px;
    font-size: 11px;
}

.sk_styler_control_state_wrapper{
    display: flex;
    align-items: stretch;
    row-gap: 6px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    display: none;
}

.sk_styler_control_state_wrapper.active{
    display: flex;
}


.sk_styler_control_state_tabs_wrapper {
    padding: 16px 8px 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.sk_styler_control_state_tab {
    appearance: none;
    border: 0;
    text-align: center;
    height: var(--skinnerBtnHeight);
    text-decoration: none;
    background-color: var(--sk_buttonBg);
    color: var(--sk_buttonTxt);
    fill: var(--sk_buttonTxt);
    display: block;
    text-transform: capitalize;
    font-size: 12px;
    position: relative;
    font-weight: 500;
    padding: 0 6px;
    border-radius: 2px;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.sk_styler_control_state_tab.active {
    background-color: var(--sk_accentBg);
    color: var(--sk_accentTxt);
}