.lv_main_container.lv_main_container.lv_main_container,:host:host:host{
  font-family: 'Roboto', sans-serif;
}
#sport-latino-view {
  --custom_bg: #f9f9f9;
  --custom_bg2: #cdd7e0;
  --custom_bg3: #e1e7eb;
  --custom_bg4: #eceff1;
  --custom_bg5: #cbd3d9;
  --custom_bg6: #fff;
  --custom_bg7: #c2ccd3;

  --custom_txt: #000;
  --custom_txt2: #434547;
  --custom_txt3: #474849;
  --custom_txt4: #4d4d4d;
  --custom_txt5: #808080;
  --custom_txt6: #3e4042;
  --custom_txt7: #7d7d7d;
  --custom_txt8: #333;

  --custom_accent_bg: #f91c24;
  --custom_accent_bg2: #388d79;
  --custom_accent_txt: #fff;
  --custom_height: 40px;
  --custom_height2: 48px;
  --custom_chb_size: 20px;
  --custom_pad_x: 16px;
  --custom_font-size: 14px;

  --custom_space_1: 4px;
  --custom_space_2: 8px;
  --custom_space_3: 16px;

  --eventG: var(--background_4);
    --eventBg: var(--background_4);
    --eventBg2: #eaeaea;
    --eventBg3: #dadada;
    --eventBgHover: #f1f1f1;
    --eventBg2Hover: #e2e2e2;
    --eventBg3Hover: #d2d2d2;
    --eventBorder: var(--background_1);

    --headerG: #DEE5ED;
    --headerBg: #DEE5ED;
    --headerBg2: #bac8d4;
    --headerBg3: #a7b9c9;
    --headerBgHover: #c4cfda;
    --headerBg2Hover: #b1c0ce;
    --headerBg3Hover: #9db1c3;

    --inputG: #EBEFF2;
    --inputBg: #EBEFF2;
    --inputBg2: #d8e0e6;
    --inputBg3: #c6d1da;
    --inputBgHover: #e2e8ec;
    --inputBg2Hover: #cfd9e0;
    --inputBg3Hover: #bdc9d4;


  --background_1: #EEF1F4;
  --background_2: #f9f9f9;
  --background_3: #dee5ed;
  --background_4: #ffffff;
  --accent_1: #3A8EAB;
  --accent_1_txt: #fff;

  --oddG: var(--background_1);
    --oddBg: var(--background_1);
}
/*sidebar*/
.lv_menu_item {
  background-color: var(--background_2);
  color: var(--custom_txt2);
  padding: 0 var(--custom_pad_x);
  border-bottom-color: var(--background_1);
  --menu_1BgHover:  var(--background_2);
}

.lv_menu_item.lv_menu_item:hover {
  background-color: var(--background_2);
  color: var(--custom_txt2);
  border-bottom-color: var(--background_1);
}

.lv_menu_item.lv_menu_item-sport.lv_menu_item-selected {
  background-color: var(--background_3);
  color: var(--custom_txt);
  border-left-color: #cb0001;
}

.lv_menu_item.lv_menu_item-country.lv_menu_item.lv_menu_item-country .sport_front_icon-arrow-down {
  color: #474848;
}

.lv_menu_item.lv_menu_item-country {
  background-color: var(--background_1);
  color: var(--custom_txt3);
}

.lv_menu_item.lv_menu_item-country:hover,
.lv_menu_item.lv_menu_item-selected {
  background-color: var(--background_1);
  color: var(--custom_txt);
}

.lv_menu_subItem {
  height: var(--custom_height);
  background-color: var(--background_4);
  color: #4d4d4d;
  column-gap: var(--custom_space_2);
}

.lv_menu_subItem_end.lv_menu_subItem_end{
  color: #4d4d4d;
}

.jackpot_min_amount_txt,
.jackpot_min_amount_currency{
  opacity: 1 !important;
  color: #474848 !important;
}

.jackpot_name_txt{
  color: #474848 !important;
}

.lv_main_container .lv_main_panel>div:not(:last-child) {
  border-bottom-color: var(--background_1);
}

.jackpot_item{
  box-shadow: none !important;
}

.lv_menu_subItem .lv_item_text {
  margin: 0;
}

.lv_chb {
  background-color: var(--custom_bg4);
  color: var(--custom_bg4);
  border-color: var(--custom_txt5);
  width: var(--custom_chb_size);
  height: var(--custom_chb_size);
}

.lv_chb-checked,
.lv_chb-checked-partial {
  background-color: var(--accentBg);
  color: var(--accentTxt);
  border-color: var(--accentBg);
}

.lv_subItem_group {
  padding-top: var(--custom_space_1);
  padding-bottom: var(--custom_space_1);
}

.lv_subItem_group:empty {
  display: none;
}

/*sidebar tabs*/
.lv_tabsBar .lv_tab.lv_tab-selected,
.lv_tabsBar .lv_tab:hover {
  --tabActiveBg: #eef1f4;
  --tabActiveTxt: #000;
  --accentBg: #3a8eab;
}
.lv_tabsBar .lv_tab {
  --tabBg: #ffffff;
  --tabTxt2: #444647;
}

/*sidebar filter*/
.lv_filter_tab {
  height: 32px;
  padding: 0 8px;
  --tabActiveTxt2: #444647;
}
.lv_prematch_filter {
  --tabActiveBg: var(--background_1);
  --tabTxt: var(--accent_1);

  --tabActiveTxt: #000;
  overflow-y: hidden;
  padding: 8px 16px;
  border-bottom-color: var(--background_1) !important;
}

.lv_prematch_filter .lv_filter_tab.lv_filter_tab-selected{
  --tabBg: var(--accent_1);
  --tabTxt: var(--accent_1_txt);

}
.lv_filter_tab.lv_filter_tab-selected {
  --tabBg: var(--background_4);
  --tabTxt: #000;
}
/*event*/
.lv_events_widget_header
  .lv_sliderBar_wrapper
  .lv_sportsBar
  .lv_sportTab:not(:last-child),
.lv_events_widget_header
  .lv_sliderBar_wrapper.lv_has_slider
  .lv_sportsBar
  .lv_sportTab:last-child {
  border-right: none !important;
}

.lv_event_subheader_tab_wrapper.lv_event_subheader_tab_wrapper {
  background-color: #eef1f4;
}

.dg_multibet_widget_main_wrapper .ai_widget_wrapper .ai_widget_slide .dg_multibet_widget_events .dg_multibet_widget_event_item .dg_multibet_widget_event_icon:before{
  background-color: #7d7d7d !important;
}

.lv_events_widget_header .lv_sliderBar_wrapper .lv_sportsBar {
  background-color: var(--background_1);
  column-gap: 1px;
}

.lv_sportTab.lv_sportTab-selected,
.lv_sportTab:hover {
  background-color: var(--background_4);;
}

/*subheader*/
.lv_events_widget_subHeader {
  color: var(--custom_txt6);
}

.lv_stake {
  font-weight: 700;
  --oddBorder: #oddBorder;
}
/*game*/
.lv_event_row .lv_event_details_wrapper .lv_event_details .lv_streaming {
  color: var(--custom_txt7);
}

.lv_events_widget_subHeader.lv_events_fix_subHeader {
  --eventBorder: var(--background_1);
}

.lv_events_widget_header {
  border-bottom-color: var(--background_1);
  --headerBg: var(--background_3);
}

.lv_sliderBar_wrapper.lv_sliderBar_wrapper .lv_sliderBar_btn{
  background-color: var(--background_3);
  color:#333;
}

.lv_markets_wrapper .lv_market {
  --bodyBg2: var(--background_1);
  --eventTxt2: #000;
}

.lv_markets_wrapper .lv_market.lv_market-closed {
  --headerBg: var(--background_3);
  --headerTxt: #000;
}

.lv_markets_wrapper
  .lv_market
  .lv_stakes_wrapper
  .lv_marketStake
  .lv_stake_factor {
  font-weight: 700;
}

.lv_markets_wrapper .lv_market.lv_market-closed:hover {
  --headerBgHover: #f9f9f9;
  --headerTxt: #000;
}

.lv_sideBar .lv_treeWrapper .lv_subItem_group {
  --menu_2Bg: #ECEFF1;
  --bodyBg2: #eceff1;
  background-color: var(--background_4);
}

.lv_main_container .lv_aside .dg_bet_generator_header {
  --dominantBg2: #cdd7e0;
  --dominantTxt: #000;
  border-top: 0 !important;
}

.dg_bet_generator_content_tab {
  --tabBg: #ffffff;
  --tabTxt2: #4d4d4d;
}

.dg_bet_generator_content_tab_item.tab_active {
  --tabActiveBg: #eef1f4;
  --tabActiveTxt: #000;
}

.dg_bet_generator_content_btn,
.dg_bet_generator_content_btn:hover,
.dg_bet_checker_btn {
  height: 36px !important;
  --buttonBg: #f91c24;
  --buttonTxt: #fff;
  background-color: #f91c24 !important;
  color: #fff !important;
  border-radius: 8px;
}

.dg_bet_checker_input{
    border-radius: 8px;
}

.dg_bet_checker_btn:disabled, .dg_bet_checker_btn[disabled=disabled], .dg_bet_checker_btn[disabled] {
    opacity: .5 !important;
}

.lv_event_row .lv_event_details_wrapper .lv_event_details .lv_event_score {
  --eventAccent: #f91c24;
  font-weight: 500;
}

.lv_stake.lv_stake-empty {
  background-color: #eceff1;
}

.lv_event_row
  .lv_event_stakes
  .lv_event_market.lv_blocker_wrapper
  .lv_stake:not(.lv_stake-empty) {
  background-color: #eceff1 !important;
  color: #b8b8b8 !important;
}


/*betslip*/
.dg_bs_wrapper.dg_bs_wrapper{
  border: 1px solid var(--accentBg);
  border-bottom: 0;
}

.dg_bs_header_tab_in {
  --tabBg: #f7f7f7;
  --tabTxt2: #000;
}

.dg_bs_root:not(.dg_bs_root--mobile)
  .dg_bs_header_tab--active
  .dg_bs_header_tab_in,
.dg_bs_root:not(.dg_bs_root--mobile)
  .dg_bs_header_tab:hover
  .dg_bs_header_tab_in {
  background-color: #f7f7f7 !important;
  color: #000 !important;
}

.dg_bs_tab {
  --tabBg: #fff;
}

.dg_bs_stake_msg {
  /* color: #fff; */
}

.dg_bs_btn,
.dg_bs_root .dg_system_calculator_btn_action,
.lv_btn.lv_btn-primary {
  --buttonG: #f91c24;
  --buttonTxt: #fff;
}

.lv_events_list_subHeader {
  --subHeaderBg: #dfe6ed;
  --subHeaderTxt2: #000;
  --bodyBg2: #dae0e4;
}

.dg_multibet_widget_main_wrapper .ai_widget_wrapper {
  --accentBg2: #06b081;
}

.ai_multiBet_widget_footer
  .ai_widget_footer_content
  .ai_widget_bet_info
  .ai_widget_info_row
  > button {
  --buttonG: #06b081;
  --buttonTxt: #fff;
  padding: 0 16px !important;
  border-radius: 8px !important;
}

.ai_multiBet_widget_footer
  .ai_widget_footer_content
  .ai_widget_bet_info
  .ai_widget_info_row
  > button
  > i {
  font-size: 36px !important;
  height: 20px !important;
  line-height: 20px !important;
  width: 20px !important;
}

.dg_multibet_widget_header .dg_multibet_widget_button_wrapper > button {
  --bodyBgHover: var(--background_3);
  --bodyTxt: #3d3f41;
}

.lv_tabsBar .lv_tab {
  border-width: 2px;
}

.lv_topNav.lv_topNav {
  background-color: var(--background_1);
  --headerTxt2: #333;
}

.lv_topNav.lv_topNav>.lv_input_wrapper input {
  background-color: var(--background_4)
}

.lv_topNav_inner > .lv_topNav_item {
  padding: 0 !important;
}

.lv_topNav_separator {
  margin: 0 12px !important;
  opacity: 1 !important;
}

.lv_topNav .lv_topNav_item:hover {
  color: var(--custom_txt) !important;
}

.lv_tabsBar .lv_tab {
  height: 48px;
  padding: 0 16px;
}

.lv_aside .dg_bet_generator_header {
  text-transform: uppercase;
}
.lv_sideBar {
  --dominantBg: #ECEFF1;
}

/*Jackpot*/
.jackpot_items_wrapper {
  padding: var(--custom_space_3) !important;
}

.jackpot_slider_wrapper.jackpot_slider_wrapper-type-special {
  background-color: var(--background_4) !important;
}

.jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
  .jackpot_slider
  .jackpot_items_wrapper
  .jackpot_item {
  background-color: var(--custom_bg6) !important;
  color: var(--custom_txt) !important;
  border: 1px solid var(--custom_accent_bg2) !important;
}

@media only screen and (min-width: 1201px) {
  .jackpot_slider_wrapper {
    height: 118px !important;
  }
}

@media only screen and (min-width: 1201px) {
  .jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
    .jackpot_slider
    .jackpot_items_wrapper
    .jackpot_item
    .jackpot_item_content {
    padding: var(--custom_space_3) !important;
  }
  .jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
    .jackpot_slider
    .jackpot_items_wrapper
    .jackpot_item {
    height: 86px !important;
  }
  .jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
    .jackpot_slider
    .jackpot_items_wrapper
    .jackpot_item
    .jackpot_item_content
    .jackpot_min_amount {
    font-weight: 700 !important;
  }
  .jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
    .jackpot_slider
    .jackpot_items_wrapper
    .jackpot_item
    .jackpot_item_content
    .jackpot_amount
    .jackpot_amount_number {
    font-size: 22px !important;
  }
  .jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
    .jackpot_slider
    .jackpot_items_wrapper
    .jackpot_item
    .jackpot_item_content
    .jackpot_amount
    .jackpot_amount_currency {
    color: #4b4b4b !important;
    opacity: 1 !important;
  }
}

/*multi vet of the day*/
.ai_header_wrapper .ai_header_content {
  padding-left: var(--custom_space_3) !important;
  padding-right: var(--custom_space_3) !important;
}

.lv_horizontal_scroll {
    overflow: hidden;
    overflow-x: auto;
}

.ai_header_wrapper {
  border-radius: 0 !important;
  padding: 0 !important;
  border-top: 0 !important;
}

.ai_widget_container .ai_header_wrapper .ai_header_content .ai_header_txt {
  padding: 0 !important;
}

.dg_multibet_widget_header .dg_multibet_widget_button_wrapper {
  border-color: var(--background_3) !important;
}

.jackpot_slider_wrapper.jackpot_slider_wrapper-type-special
  .jackpot_slider
  .jackpot_items_wrapper
  .jackpot_item
  .jackpot_item_content_wrapper
  .jackpot_item_content
  .jackpot_name
  .jackpot_name_txt {
  margin: 0 6px !important;
}

/*headers*/
.lv_main_container .lv_aside .dg_live_stream_header,
.lv_main_container .lv_aside .dg_bet_generator_header {
  height: 40px !important;
  padding: 0 16px !important;
  background-color: var(--background_3) !important;
  color: #000 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
.lv_aside .dg_widget_root .ai_header_wrapper,
.lv_aside .dg_widget_root .ai_header_wrapper:hover {
  background-color: var(--background_3) !important;

}
.lv_collapse_header > span,
.dg_bet_generator_header_title,
.ai_widget_container .ai_header_wrapper .ai_header_content .ai_header_txt {
  padding: 0 !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  font-size: 14px;
}

.dg_live_stream_header.dg_live_stream_header:hover{
  opacity: initial;
}
.lv_main_container
  .lv_aside
  .dg_bet_generator_header
  .dg_bet_generator_header_icon {
  padding: 0 !important;
}

.lv_event_row .lv_event_actions{
    row-gap: 0 !important;
}

.lv_event_row .lv_event_actions > .lv_event_action{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lv_menu_item .lv_count {
    font-size: 14px;
}

.ai_switcher{
    --aiSwitcherPos: 2px;
    --aiSwitcherW: 40px;
    --aiSwitcherH: 24px;
    background-color: #fff;
}
.ai_switcher.ai_switcher--active{
    background-color: #e7ebee;
    --aiSwitcherPos: 16px;

}
.ai_switcher > .ai_switcher_checkmark{
    background-color: #dee5ed;
    width: 20px;
    height: 20px;
    color: #3d3f41;
}

.ai_switcher.ai_switcher--active > .ai_switcher_checkmark{
    background-color: #3a859f;
    color: #fff;

}
.lv_sportTab{
    --tabBg: var(--headerBg);
}

.sport_front_icon-ai::before {
  content: "\E1B2" !important;
  font-size: 37px !important;
}

.lv_events_widget .lv_showMore {
    --bodyBg2: var(--background_4);
    --bodyBg3: var(--background_4);
}

.lv_main_container .lv_aside{
  --bodyBg: var(--background_1);
}

.lv_main_container .lv_aside .dg_widget_root .dg_filter_tabs_group .dg_filter_tab{
  --tabActiveG: var(--background_3);
}

.lv_main_container .lv_aside .dg_widget_root .dg_filter_tabs_group .dg_filter_tab.dg_filter_tab-active{
    --tabActiveG: var(--background_4);
}

.ai_subHeader{
    --subHeaderG: var(--eventBg);
    --subHeaderBgHover: var(--eventBg);
    --subHeaderBg: var(--eventBg);
    --subHeaderTxt: var(--eventTxt);
}

.ai_event_game_info_wrapper .ai_event_game_separator,
.ai_event_game_info_wrapper .ai_vent_game_type{
    display: none !important;
}
.dg_widget_root .dg_widget_group {
    border-radius: 8px;
}

.dg_bet_generator_content_wrapper:not(.mobile_content){
    --bodyBgHover: var(--eventBg);
}

.lv_back_btn{
  --headerBg: var(--background_3);
    --headerTxt2: #181818;
    --bodyBg2: var(--background_3);
}

.lv_back_btn:hover{
    --headerBgHover: var(--background_3);
    --headerTxt: #181818;
}

.lv_filter_tab.lv_tab_new_badge_wrapper .lv_tab_new_badge{
    color: #fff !important;
}

.search_market{
  --inputBg: var(--background_4);
}
.dg_widget_root .dg_event_widget .dg_event_stakes_wrapper .dg_markets_wrapper .dg_market .dg_stakes_wrapper .dg_marketStake .dg_stake_factor{
    --oddAccent: #000;
}

.dg_bet_checker_container{
    background-color: var(--background_1) !important;
}

.dg_bet_checker_input{
    --inputBg: var(--eventBg);
    --inputTxt: var(--eventTxt);
}

.lv_liveInfo .lv_event_data .lv_live_scores .lv_live_scores_column .lv_score{
    --accentBg: var(--custom_accent_bg);
}


.bh_root.middle .bh_card.active, .bh_root.middle .bh_card:hover, .bh_root.middle .bh_list_view_item.active{
  --eventBg2: #fff;
}

.dg_bet_builder_button_yes,
.bh_calendar_button>button,
.dg_mega_bet_content_popup_btn{
  --buttonG: #f91c24;
  --buttonBg: #f91c24;
  --buttonBgHover: #f91c24;
}

.lv_main_container .lv_main_panel{
  --dominantBg2: #eceff1;
}


.sport_front_icon-cashout_lt,
.dg_icon_link{
  display: none !important;
}

.lv_header_data > i:first-of-type {
  display: none;
}

.lv_event_hero_background{
  display: none;
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .selected_row {
  background: var(--modalBgHover);
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .selected_row {
  background: var(--modalBgHover);
}

.lv_event_row .lv_event_stakes .lv_event_market.lv_market-overUnder .lv_argument_popup .lv_argument_popup_content .selected_row .lv_stake:not(.lv_stake-selected){
  background: var(--oddBg);
  color: var(--oddTxt);
}

#sport-latino-view .dg_icon_offer_default::before {
  content: "\E193";
  height: 24px;
  line-height: 23px;
  font-size: 44px;
}

#sport-latino-view .sport_front_icon-badge-00:before{
  content: "\E1B9";
  height: 24px;
  line-height: 23px;
  font-size: 44px;
}

#sport-latino-view .dg_market_offers_head > i{
  width: 24px;
  height: 24px;
  color: var(--marketHeaderTxt);
}

#sport-latino-view .dg_market_offer_icon>span{
  display: none;
}

#sport-latino-view .sport_front_icon-statistics-modern::before {
  content: "\E110";
}


/*bet history*/
.bh_card.OR,
.bh_list_view_item.OR,
.bh_card_header_info_dot_status-OR + .bh_card_header_info_status {
  --status_color: var(--pending);
  --status_text: var(--pendingTxt);
}

.bh_card.GR,
.bh_list_view_item.GR,
.bh_card_header_info_dot_status-GR + .bh_card_header_info_status {
  --status_color: var(--won);
  --status_text: var(--wonTxt);
}

.bh_card.RD,
.bh_list_view_item.RD,
.bh_card_header_info_dot_status-RD + .bh_card_header_info_status {
  --status_color: var(--lost);
  --status_text: var(--lostTxt);
}

.bh_card.GY,
.bh_list_view_item.GY,
.bh_card_header_info_dot_status-GY + .bh_card_header_info_status {
  --status_color: var(--return);
  --status_text: #fff;
}


.bh_card.bh_card .bh_card_header_info_status {
  /* color: var(--status_text);
  background: var(--status_color);
  padding: 4px;
  border-radius: 3px; */
}

.bh_card.bh_card .bh_card_winning_new_wrap_amount{
  font-size: 14px;
}

#sport-latino-view .lv_markets_wrapper .dg_boosted_odds_popup,
#sport-latino-view .lv_markets_wrapper .dg_market_popup{
  background-color: #fff;
  border: 1px solid var(--modalBgHover);
  color: var(--modalTxt);
  padding: 8px 16px;
  
}
.lv_events_list_header,
.lv_events_list_subHeader{
  --headerBg: var(--background_3);
  --bodyBg2: var(--background_1);
}
.lv_infoPanel {
  align-items: center;
  background: var(--background_1);
  border-bottom: 0;
}

.lv_market_filter {
  --tabActiveBg: var(--background_3);
  --bodyBg2: var(--background_1);
}

/*tournament*/
.tr-card-header{
  --digiTournamentItemHeaderBg: #DEE5ED;
}

.tr-main-content {
  --digiTournamentManiBg: #eef0f2;
  --digiTournamentManiTxt: #000;
}
.tr-card-body {
  --digiTournamentItemBg: #fff;
  --digiTournamentItemTxt: #000;
}

.tr-tab.active {
  --digiTournamentTabActiveBg: #fff;
}

.tr-title.tr-title {
  --digiTournamentTitleBg: #EEF1F4;
  --digiTournamentTitleBorder: #CBD3D8;
  --digiTournamentTitleTxt: #000;
  border: 1px solid var(--digiTournamentTitleBorder);
}

.dg_bet_race_leader_board_wrapper header{
--eventBg2: #DEE5ED;
}

.dg_bet_race_leader_board_content{
  --eventBg: #fff;

}

.dg_bet_race_leader_board_prize_item_separator {
  --eventBg: #fff;
  --eventTxt2: #DEE5ED;

}

.lv_main_panel .dg_favorites_content {
  --bodyBg3: var(--background_1);
  --bodyBgHover: var(--background_1);
}

.lv_main_panel .dg_favorites_content_events_item_accordion{
  --eventBg: var(--background_4);
}

.lv_main_panel .dg_favorites_wrapper .lv_events_widget_subHeader{
  --eventBg: var(--background_4);
}

.dg_market_popup_item .dg_market_popup_item_head > span{
  font-size: 16px !important;
  font-weight: 500 !important;
}

.dg_market_popup_item .dg_market_popup_item_body{
  font-size: 12px !important;
  font-weight: 400 !important;
  --tooltipTxt2: #000;
}

.lv_main_panel .dg_favorites_tabs {
  background-color: var(--background_3);
}

.lv_main_panel .dg_favorites_tabs_item {
  --tabBg: var(--background_3);
}

.lv_main_panel .dg_favorites_tabs_item.tab_active, .lv_main_panel .dg_favorites_tabs_item:hover {
  --tabBg: var(--background_4);
}

.lv_results_widget .lv_results_widget_sub_header {
  --subHeaderG: var(--background_1);
}

.lv_results_widget .lv_results_comments_items{
  --eventBg2: var(--background_2);
}

.sr_tab_wrapper_modernized .sr-tab.sr-tab {
  background-color: var(--background_3);
}
.sr_tab_wrapper_modernized .sr-tab.sr-tab.active {
  --tabActiveBg: var(--background_4);
}

.sr-content.sr-content.sr-content_new{
  /* background-color: #dfe1e2; */
}

.lv_search_page .sr-container .lv_events_list_groupedHeader, .lv_search_page .sr-container .sr-dropdown-toggle{
  --subHeaderBg: var(--background_4);
}

.sr-tab-wrapper{
  column-gap: 12px;
}

.sr-content_new.sr-content_new .sr-matches-wrapper .sr-match-item>div:last-child{
  background: unset;
}

.sr-content_new .sr_match_subheader{
  background: var(--background_4);
}
.bh_wrapper .bh_tab.active{
  --tabBg: var(--background_4);
}

.bh_tab_wrapper.bh_tab_wrapper .tg_btn_filters,
.bh_view_switch_wrapper.bh_view_switch_wrapper .bh_tab:first-child,
.bh_view_switch_wrapper.bh_view_switch_wrapper .bh_tab:last-child{
  border-color: #fff;
}

.dg_bs_root_holder {
  --bodyG: #eef0f2;
  --bodyBg: #eef0f2;
  --bodyBg2: #dae0e4;
  --bodyBg3: #c9d1d7;
  --bodyBgHover: #e3e8ea;
  --bodyBg2Hover: #d1d9de;
  --bodyBg3Hover: #c0c9d0;
  --bodyTxt: #000;
  --bodyTxt2: #474848;
  --bodyTxt3: #767879;
  --bodyAccent: #3A8EAB;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyRGBA: rgba(236, 239, 241, 0.7);
  --bodyRGBA2: rgba(236, 239, 241, 0.5);
  --bodyRGBA3: rgba(236, 239, 241, 0.3);
  --bodyShadow: undefined;
  --bodyShadowFade: undefined;
  --bodyRadius: 8px;
  --bodyBorder: #e3e8ea;
  --accentG: #3A8EAB;
  --accentBg: #3A8EAB;
  --accentBg2: #53a8c5;
  --accentBg3: #66b1cb;
  --accentBgHover: #3e97b6;
  --accentBg2Hover: #5eaec9;
  --accentBg3Hover: #71b7cf;
  --accentTxt: #fff;
  --accentTxt2: #c4dde6;
  --accentTxt3: #9dc7d5;
  --accentAccent: #3A8EAB;
  --accentAccentTxt: rgba(255, 255, 255, 0.9);
  --accentRGBA: rgba(58, 142, 171, 0.7);
  --accentRGBA2: rgba(58, 142, 171, 0.5);
  --accentRGBA3: rgba(58, 142, 171, 0.3);
  --accentShadow: undefined;
  --accentShadowFade: undefined;
  --accentRadius: 2px;
  --accentBorder: #3e97b6;
  --dominantG: #ECEFF1;
  --dominantBg: #ECEFF1;
  --dominantBg2: #dae0e4;
  --dominantBg3: #c9d1d7;
  --dominantBgHover: #e3e8ea;
  --dominantBg2Hover: #d1d9de;
  --dominantBg3Hover: #c0c9d0;
  --dominantTxt: #000;
  --dominantTxt2: #474848;
  --dominantTxt3: #767879;
  --dominantAccent: #3A8EAB;
  --dominantAccentTxt: rgba(255, 255, 255, 0.9);
  --dominantRGBA: rgba(236, 239, 241, 0.7);
  --dominantRGBA2: rgba(236, 239, 241, 0.5);
  --dominantRGBA3: rgba(236, 239, 241, 0.3);
  --dominantShadow: undefined;
  --dominantShadowFade: undefined;
  --dominantRadius: 8px;
  --dominantBorder: #e3e8ea;
  --buttonG: #3e97b6;
  --buttonBg: #3e97b6;
  --buttonBg2: #5fadc8;
  --buttonBg3: #72b7cf;
  --buttonBgHover: #449fbf;
  --buttonBg2Hover: #6ab3cc;
  --buttonBg3Hover: #7dbdd3;
  --buttonTxt: #fff;
  --buttonTxt2: #c5e0e9;
  --buttonTxt3: #9fcbdb;
  --buttonAccent: #3A8EAB;
  --buttonAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonRGBA: rgba(62, 151, 182, 0.7);
  --buttonRGBA2: rgba(62, 151, 182, 0.5);
  --buttonRGBA3: rgba(62, 151, 182, 0.3);
  --buttonShadow: undefined;
  --buttonShadowFade: undefined;
  --buttonRadius: 2px;
  --buttonBorder: #449fbf;
  --buttonSecondaryG: #c0c9d0;
  --buttonSecondaryBg: #c0c9d0;
  --buttonSecondaryBg2: #aebac3;
  --buttonSecondaryBg3: #9dabb6;
  --buttonSecondaryBgHover: #b7c1c9;
  --buttonSecondaryBg2Hover: #a5b3bc;
  --buttonSecondaryBg3Hover: #94a3af;
  --buttonSecondaryTxt: #000;
  --buttonSecondaryTxt2: #3a3c3e;
  --buttonSecondaryTxt3: #606568;
  --buttonSecondaryAccent: #3A8EAB;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryRGBA: rgba(192, 201, 208, 0.7);
  --buttonSecondaryRGBA2: rgba(192, 201, 208, 0.5);
  --buttonSecondaryRGBA3: rgba(192, 201, 208, 0.3);
  --buttonSecondaryShadow: undefined;
  --buttonSecondaryShadowFade: undefined;
  --buttonSecondaryRadius: 8px;
  --buttonSecondaryBorder: #b7c1c9;
  --navbarG: #dae0e4;
  --navbarBg: #dae0e4;
  --navbarBg2: #c8d1d7;
  --navbarBg3: #b7c2ca;
  --navbarBgHover: #d1d9de;
  --navbarBg2Hover: #bfcad1;
  --navbarBg3Hover: #aebbc4;
  --navbarTxt: #000;
  --navbarTxt2: #414344;
  --navbarTxt3: #6d7072;
  --navbarAccent: #3A8EAB;
  --navbarAccentTxt: rgba(255, 255, 255, 0.9);
  --navbarRGBA: rgba(218, 224, 228, 0.7);
  --navbarRGBA2: rgba(218, 224, 228, 0.5);
  --navbarRGBA3: rgba(218, 224, 228, 0.3);
  --navbarShadow: undefined;
  --navbarShadowFade: undefined;
  --navbarRadius: 8px;
  --navbarBorder: #d1d9de;
  --sliderG: #e3e8ea;
  --sliderBg: #e3e8ea;
  --sliderBg2: #d2dadd;
  --sliderBg3: #c0cbd0;
  --sliderBgHover: #dae1e3;
  --sliderBg2Hover: #c9d3d6;
  --sliderBg3Hover: #b7c4c9;
  --sliderTxt: #000;
  --sliderTxt2: #444646;
  --sliderTxt3: #727475;
  --sliderAccent: #3A8EAB;
  --sliderAccentTxt: rgba(255, 255, 255, 0.9);
  --sliderRGBA: rgba(227, 232, 234, 0.7);
  --sliderRGBA2: rgba(227, 232, 234, 0.5);
  --sliderRGBA3: rgba(227, 232, 234, 0.3);
  --sliderShadow: undefined;
  --sliderShadowFade: undefined;
  --sliderRadius: 8px;
  --sliderBorder: #dae1e3;
  --headerG: #CDD7E0;
  --headerBg: #CDD7E0;
  --headerBg2: #bac8d4;
  --headerBg3: #a7b9c9;
  --headerBgHover: #c4cfda;
  --headerBg2Hover: #b1c0ce;
  --headerBg3Hover: #9db1c3;
  --headerTxt: #000;
  --headerTxt2: #3e4143;
  --headerTxt3: #676c70;
  --headerAccent: #3A8EAB;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerRGBA: rgba(205, 215, 224, 0.7);
  --headerRGBA2: rgba(205, 215, 224, 0.5);
  --headerRGBA3: rgba(205, 215, 224, 0.3);
  --headerShadow: undefined;
  --headerShadowFade: undefined;
  --headerRadius: 8px;
  --headerBorder: #c4cfda;
  --subHeaderG: #b1c0ce;
  --subHeaderBg: #b1c0ce;
  --subHeaderBg2: #9eb1c2;
  --subHeaderBg3: #8ba2b6;
  --subHeaderBgHover: #a8b8c8;
  --subHeaderBg2Hover: #95a9bc;
  --subHeaderBg3Hover: #829ab0;
  --subHeaderTxt: #000;
  --subHeaderTxt2: #353a3e;
  --subHeaderTxt3: #596067;
  --subHeaderAccent: #3A8EAB;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderRGBA: rgba(177, 192, 206, 0.7);
  --subHeaderRGBA2: rgba(177, 192, 206, 0.5);
  --subHeaderRGBA3: rgba(177, 192, 206, 0.3);
  --subHeaderShadow: undefined;
  --subHeaderShadowFade: undefined;
  --subHeaderRadius: 8px;
  --subHeaderBorder: #a8b8c8;
  --eventG: #ffffff;
  --eventBg: #ffffff;
  --eventBg2: #eaeaea;
  --eventBg3: #dadada;
  --eventBgHover: #f1f1f1;
  --eventBg2Hover: #e2e2e2;
  --eventBg3Hover: #d2d2d2;
  --eventTxt: #000;
  --eventTxt2: #4b4b4b;
  --eventTxt3: #7d7d7d;
  --eventAccent: #3A8EAB;
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventRGBA: rgba(249, 249, 249, 0.7);
  --eventRGBA2: rgba(249, 249, 249, 0.5);
  --eventRGBA3: rgba(249, 249, 249, 0.3);
  --eventShadow: undefined;
  --eventShadowFade: undefined;
  --eventRadius: 8px;
  --eventBorder: #f1f1f1;
  --eventLiveG: #d2d2d2;
  --eventLiveBg: #d2d2d2;
  --eventLiveBg2: #c3c3c3;
  --eventLiveBg3: #b3b3b3;
  --eventLiveBgHover: #cacaca;
  --eventLiveBg2Hover: #bbbbbb;
  --eventLiveBg3Hover: #ababab;
  --eventLiveTxt: #000;
  --eventLiveTxt2: #3f3f3f;
  --eventLiveTxt3: #696969;
  --eventLiveAccent: #3A8EAB;
  --eventLiveAccentTxt: rgba(255, 255, 255, 0.9);
  --eventLiveRGBA: rgba(210, 210, 210, 0.7);
  --eventLiveRGBA2: rgba(210, 210, 210, 0.5);
  --eventLiveRGBA3: rgba(210, 210, 210, 0.3);
  --eventLiveShadow: undefined;
  --eventLiveShadowFade: undefined;
  --eventLiveRadius: 8px;
  --eventLiveBorder: #cacaca;
  --oddG: #e3e8ea;
  --oddBg: #e3e8ea;
  --oddBg2: #d2dadd;
  --oddBg3: #c0cbd0;
  --oddBgHover: #dae1e3;
  --oddBg2Hover: #c9d3d6;
  --oddBg3Hover: #b7c4c9;
  --oddTxt: #000;
  --oddTxt2: #444646;
  --oddTxt3: #727475;
  --oddAccent: #3A8EAB;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRGBA: rgba(227, 232, 234, 0.7);
  --oddRGBA2: rgba(227, 232, 234, 0.5);
  --oddRGBA3: rgba(227, 232, 234, 0.3);
  --oddShadow: undefined;
  --oddShadowFade: undefined;
  --oddRadius: 8px;
  --oddBorder: #dae1e3;
  --oddActiveG: #3e97b6;
  --oddActiveBg: #3e97b6;
  --oddActiveBg2: #5fadc8;
  --oddActiveBg3: #72b7cf;
  --oddActiveBgHover: #449fbf;
  --oddActiveBg2Hover: #6ab3cc;
  --oddActiveBg3Hover: #7dbdd3;
  --oddActiveTxt: #fff;
  --oddActiveTxt2: #c5e0e9;
  --oddActiveTxt3: #9fcbdb;
  --oddActiveAccent: #3A8EAB;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRGBA: rgba(62, 151, 182, 0.7);
  --oddActiveRGBA2: rgba(62, 151, 182, 0.5);
  --oddActiveRGBA3: rgba(62, 151, 182, 0.3);
  --oddActiveShadow: undefined;
  --oddActiveShadowFade: undefined;
  --oddActiveRadius: 2px;
  --oddActiveBorder: #449fbf;
  --showMoreG: #e3e8ea;
  --showMoreBg: #e3e8ea;
  --showMoreBg2: #d2dadd;
  --showMoreBg3: #c0cbd0;
  --showMoreBgHover: #dae1e3;
  --showMoreBg2Hover: #c9d3d6;
  --showMoreBg3Hover: #b7c4c9;
  --showMoreTxt: #000;
  --showMoreTxt2: #444646;
  --showMoreTxt3: #727475;
  --showMoreAccent: #3A8EAB;
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRGBA: rgba(227, 232, 234, 0.7);
  --showMoreRGBA2: rgba(227, 232, 234, 0.5);
  --showMoreRGBA3: rgba(227, 232, 234, 0.3);
  --showMoreShadow: undefined;
  --showMoreShadowFade: undefined;
  --showMoreRadius: 8px;
  --showMoreBorder: #dae1e3;
  --marketHeaderG: #dae0e4;
  --marketHeaderBg: #dae0e4;
  --marketHeaderBg2: #c8d1d7;
  --marketHeaderBg3: #b7c2ca;
  --marketHeaderBgHover: #d1d9de;
  --marketHeaderBg2Hover: #bfcad1;
  --marketHeaderBg3Hover: #aebbc4;
  --marketHeaderTxt: #000;
  --marketHeaderTxt2: #414344;
  --marketHeaderTxt3: #6d7072;
  --marketHeaderAccent: #3A8EAB;
  --marketHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --marketHeaderRGBA: rgba(218, 224, 228, 0.7);
  --marketHeaderRGBA2: rgba(218, 224, 228, 0.5);
  --marketHeaderRGBA3: rgba(218, 224, 228, 0.3);
  --marketHeaderShadow: undefined;
  --marketHeaderShadowFade: undefined;
  --marketHeaderRadius: 8px;
  --marketHeaderBorder: #d1d9de;
  --collapseG: #b1c0ce;
  --collapseBg: #b1c0ce;
  --collapseBg2: #9eb1c2;
  --collapseBg3: #8ba2b6;
  --collapseBgHover: #a8b8c8;
  --collapseBg2Hover: #95a9bc;
  --collapseBg3Hover: #829ab0;
  --collapseTxt: #000;
  --collapseTxt2: #353a3e;
  --collapseTxt3: #596067;
  --collapseAccent: #3A8EAB;
  --collapseAccentTxt: rgba(255, 255, 255, 0.9);
  --collapseRGBA: rgba(177, 192, 206, 0.7);
  --collapseRGBA2: rgba(177, 192, 206, 0.5);
  --collapseRGBA3: rgba(177, 192, 206, 0.3);
  --collapseShadow: undefined;
  --collapseShadowFade: undefined;
  --collapseRadius: 8px;
  --collapseBorder: #a8b8c8;
  --tabG: #F9F9F9;
  --tabBg: #F9F9F9;
  --tabBg2: #eaeaea;
  --tabBg3: #dadada;
  --tabBgHover: #f1f1f1;
  --tabBg2Hover: #e2e2e2;
  --tabBg3Hover: #d2d2d2;
  --tabTxt: #000;
  --tabTxt2: #4b4b4b;
  --tabTxt3: #7d7d7d;
  --tabAccent: #3A8EAB;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRGBA: rgba(249, 249, 249, 0.7);
  --tabRGBA2: rgba(249, 249, 249, 0.5);
  --tabRGBA3: rgba(249, 249, 249, 0.3);
  --tabShadow: undefined;
  --tabShadowFade: undefined;
  --tabRadius: 4px;
  --tabBorder: #f1f1f1;
  --tabActiveG: #e2e2e2;
  --tabActiveBg: #e2e2e2;
  --tabActiveBg2: #d3d3d3;
  --tabActiveBg3: #c3c3c3;
  --tabActiveBgHover: #dadada;
  --tabActiveBg2Hover: #cbcbcb;
  --tabActiveBg3Hover: #bbbbbb;
  --tabActiveTxt: #000;
  --tabActiveTxt2: #444444;
  --tabActiveTxt3: #717171;
  --tabActiveAccent: #3A8EAB;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRGBA: rgba(226, 226, 226, 0.7);
  --tabActiveRGBA2: rgba(226, 226, 226, 0.5);
  --tabActiveRGBA3: rgba(226, 226, 226, 0.3);
  --tabActiveShadow: undefined;
  --tabActiveShadowFade: undefined;
  --tabActiveRadius: 8px;
  --tabActiveBorder: #dadada;
  --tabSecondaryActiveG: #e2e2e2;
  --tabSecondaryActiveBg: #e2e2e2;
  --tabSecondaryActiveBg2: #d3d3d3;
  --tabSecondaryActiveBg3: #c3c3c3;
  --tabSecondaryActiveBgHover: #dadada;
  --tabSecondaryActiveBg2Hover: #cbcbcb;
  --tabSecondaryActiveBg3Hover: #bbbbbb;
  --tabSecondaryActiveTxt: #000;
  --tabSecondaryActiveTxt2: #444444;
  --tabSecondaryActiveTxt3: #717171;
  --tabSecondaryActiveAccent: #3A8EAB;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRGBA: rgba(226, 226, 226, 0.7);
  --tabSecondaryActiveRGBA2: rgba(226, 226, 226, 0.5);
  --tabSecondaryActiveRGBA3: rgba(226, 226, 226, 0.3);
  --tabSecondaryActiveShadow: undefined;
  --tabSecondaryActiveShadowFade: undefined;
  --tabSecondaryActiveRadius: 8px;
  --tabSecondaryActiveBorder: #dadada;
  --menu_1G: #dae0e4;
  --menu_1Bg: #dae0e4;
  --menu_1Bg2: #c8d1d7;
  --menu_1Bg3: #b7c2ca;
  --menu_1BgHover: #d1d9de;
  --menu_1Bg2Hover: #bfcad1;
  --menu_1Bg3Hover: #aebbc4;
  --menu_1Txt: #000;
  --menu_1Txt2: #414344;
  --menu_1Txt3: #6d7072;
  --menu_1Accent: #3A8EAB;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1RGBA: rgba(218, 224, 228, 0.7);
  --menu_1RGBA2: rgba(218, 224, 228, 0.5);
  --menu_1RGBA3: rgba(218, 224, 228, 0.3);
  --menu_1Shadow: undefined;
  --menu_1ShadowFade: undefined;
  --menu_1Radius: 8px;
  --menu_1Border: #d1d9de;
  --menu_2G: #d1d9de;
  --menu_2Bg: #d1d9de;
  --menu_2Bg2: #bfcad1;
  --menu_2Bg3: #adbcc4;
  --menu_2BgHover: #c8d2d8;
  --menu_2Bg2Hover: #b6c3cb;
  --menu_2Bg3Hover: #a4b5be;
  --menu_2Txt: #000;
  --menu_2Txt2: #3f4143;
  --menu_2Txt3: #696d6f;
  --menu_2Accent: #3A8EAB;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2RGBA: rgba(209, 217, 222, 0.7);
  --menu_2RGBA2: rgba(209, 217, 222, 0.5);
  --menu_2RGBA3: rgba(209, 217, 222, 0.3);
  --menu_2Shadow: undefined;
  --menu_2ShadowFade: undefined;
  --menu_2Radius: 8px;
  --menu_2Border: #c8d2d8;
  --menu_3G: #c9d1d7;
  --menu_3Bg: #c9d1d7;
  --menu_3Bg2: #b7c2ca;
  --menu_3Bg3: #a6b3bd;
  --menu_3BgHover: #c0c9d0;
  --menu_3Bg2Hover: #aebbc4;
  --menu_3Bg3Hover: #9dabb6;
  --menu_3Txt: #000;
  --menu_3Txt2: #3c3f41;
  --menu_3Txt3: #65696c;
  --menu_3Accent: #3A8EAB;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3RGBA: rgba(201, 209, 215, 0.7);
  --menu_3RGBA2: rgba(201, 209, 215, 0.5);
  --menu_3RGBA3: rgba(201, 209, 215, 0.3);
  --menu_3Shadow: undefined;
  --menu_3ShadowFade: undefined;
  --menu_3Radius: 8px;
  --menu_3Border: #c0c9d0;
  --inputG: #ebeff2;
  --inputBg: #ebeff2;
  --inputBg2: #c8d1d7;
  --inputBg3: #b7c2ca;
  --inputBgHover: #d1d9de;
  --inputBg2Hover: #bfcad1;
  --inputBg3Hover: #aebbc4;
  --inputTxt: #000;
  --inputTxt2: #414344;
  --inputTxt3: #6d7072;
  --inputAccent: #3A8EAB;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRGBA: rgba(218, 224, 228, 0.7);
  --inputRGBA2: rgba(218, 224, 228, 0.5);
  --inputRGBA3: rgba(218, 224, 228, 0.3);
  --inputShadow: undefined;
  --inputShadowFade: undefined;
  --inputRadius: 8px;
  --inputBorder: #d1d9de;
  --inputSecondaryG: #d1d9de;
  --inputSecondaryBg: #d1d9de;
  --inputSecondaryBg2: #bfcad1;
  --inputSecondaryBg3: #adbcc4;
  --inputSecondaryBgHover: #c8d2d8;
  --inputSecondaryBg2Hover: #b6c3cb;
  --inputSecondaryBg3Hover: #a4b5be;
  --inputSecondaryTxt: #000;
  --inputSecondaryTxt2: #3f4143;
  --inputSecondaryTxt3: #696d6f;
  --inputSecondaryAccent: #3A8EAB;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRGBA: rgba(209, 217, 222, 0.7);
  --inputSecondaryRGBA2: rgba(209, 217, 222, 0.5);
  --inputSecondaryRGBA3: rgba(209, 217, 222, 0.3);
  --inputSecondaryShadow: undefined;
  --inputSecondaryShadowFade: undefined;
  --inputSecondaryRadius: 8px;
  --inputSecondaryBorder: #c8d2d8;
  --filterG: #d1d9de;
  --filterBg: #d1d9de;
  --filterBg2: #bfcad1;
  --filterBg3: #adbcc4;
  --filterBgHover: #c8d2d8;
  --filterBg2Hover: #b6c3cb;
  --filterBg3Hover: #a4b5be;
  --filterTxt: #000;
  --filterTxt2: #3f4143;
  --filterTxt3: #696d6f;
  --filterAccent: #3A8EAB;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRGBA: rgba(209, 217, 222, 0.7);
  --filterRGBA2: rgba(209, 217, 222, 0.5);
  --filterRGBA3: rgba(209, 217, 222, 0.3);
  --filterShadow: undefined;
  --filterShadowFade: undefined;
  --filterRadius: 8px;
  --filterBorder: #c8d2d8;
  --tooltipG: #dae0e4;
  --tooltipBg: #dae0e4;
  --tooltipBg2: #c8d1d7;
  --tooltipBg3: #b7c2ca;
  --tooltipBgHover: #d1d9de;
  --tooltipBg2Hover: #bfcad1;
  --tooltipBg3Hover: #aebbc4;
  --tooltipTxt: #000;
  --tooltipTxt2: #414344;
  --tooltipTxt3: #6d7072;
  --tooltipAccent: #3A8EAB;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRGBA: rgba(218, 224, 228, 0.7);
  --tooltipRGBA2: rgba(218, 224, 228, 0.5);
  --tooltipRGBA3: rgba(218, 224, 228, 0.3);
  --tooltipShadow: undefined;
  --tooltipShadowFade: undefined;
  --tooltipRadius: 8px;
  --tooltipBorder: #d1d9de;
  --modalG: #e3e8ea;
  --modalBg: #e3e8ea;
  --modalBg2: #d2dadd;
  --modalBg3: #c0cbd0;
  --modalBgHover: #dae1e3;
  --modalBg2Hover: #c9d3d6;
  --modalBg3Hover: #b7c4c9;
  --modalTxt: #000;
  --modalTxt2: #444646;
  --modalTxt3: #727475;
  --modalAccent: #3A8EAB;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRGBA: rgba(227, 232, 234, 0.7);
  --modalRGBA2: rgba(227, 232, 234, 0.5);
  --modalRGBA3: rgba(227, 232, 234, 0.3);
  --modalShadow: undefined;
  --modalShadowFade: undefined;
  --modalRadius: 8px;
  --modalBorder: #dae1e3;
}

.dg_bs_betamount_col:last-child {
  background: #d8e0e6  !important;
  border-color: #d8e0e6;
}

.dg_bs_balance_dropdown.dg_bs_balance_dropdown {
  background: #ebeff2;
  border: 1px solid #dde3e8;
}

.dg_bs_stake_header_btn.dg_bs_stake_remove_btn {
  color: #474848;
}

.dg_bs_stake_group.dg_bs_stake_group{
  background-color: #f0f0f0;
}

.dg_bs_betamount_system_dropdown_btn.dg_bs_betamount_system_dropdown_btn, .dg_bs_betamount_system_dropdown_select.dg_bs_betamount_system_dropdown_select{
  border-color: #d8e0e6;
  background-color: #ebeff2;
}

.dg_bs_betamount_system_calculator_btn.dg_bs_betamount_system_calculator_btn{
  background-color: #ebeff2;
  border-color: #d8e0e6;
}

.dg_bs_page_wrap.dg_bs_page_wrap .dg_bs_page_close_btn.dg_bs_page_close_btn{
  color: #000;
}

.dg_bs_page_wrap.dg_bs_page_wrap .dg_bs_toggle.dg_bs_toggle{
  background-color: #edf0f2;
}

.dg_bs_page_wrap.dg_bs_page_wrap .dg_bs_toggle.dg_bs_toggle:before{
  background-color: #d3d4d6;
}

.dg_bs_page_wrap.dg_bs_page_wrap .dg_bs_toggle_input:checked + .dg_bs_toggle.dg_bs_toggle:before{
  background-color: #3f97b6;
}

.dg_bs_page_switcher_header_start .dg_bs_tooltip.dg_bs_tooltip .sport_front_icon-info {
  color: #767879;
}

.dg_bs_cashout_form_input.dg_bs_cashout_form_input{
  background-color: #EBEFF2;
  border-color: #d9e0e5;
}

.dg_bs_page_wrap.dg_bs_page_wrap--system .dg_dropdown_panel.dg_dropdown_panel,
.dg_system_calculator_input_bet_amount_wrapper.dg_system_calculator_input_bet_amount_wrapper {
  border-color: #d8e0e6;
  background: #ebeff2;
}

.dg_bs_double_range_slider.dg_bs_double_range_slider::-webkit-slider-thumb{
  border: 1px solid #e7e9eb;
}

.dg_system_calculator_key_value.dg_system_calculator_key_value{
  color: #474848;
}

.dg_system_calculator_key_value_txt_accent.dg_system_calculator_key_value_txt_accent{
  color: #3f97b6;
}

.dg_bs_page_wrap.dg_bs_page_wrap.dg_bs_page_wrap--system,
.dg_bs_page_wrap.dg_bs_page_wrap {
  --bs_page_bg: #fff;
  border-color: #dfe1e3;
}

.dg_bs_page_wrap.dg_bs_page_wrap[data-testid="autobet-container"] {
  --bs_page_bg: #E7E9EB;
  border-color: #dfe1e3;
}

.dg_bs_page_wrap .dg_bs_stake.dg_bs_stake{
  --eventBg2: #fff;
}

.dg_bs_page_wrap .dg_bs_stake_group_wrapper.dg_bs_stake_group_wrapper{
  background-color: #e7e9eb;
  row-gap: 8px;
}



.dg_bs_double_range_input.dg_bs_double_range_input{
  background-color: #ebeff2;
  border-color: #d9e0e5;
}

.dg_bs_double_range_slider_wrap:before{
  --bodyBg2: #dfe1e3;
}

.dg_bs_cashout_form_input_label{
  color: #474848;
}

.dg_bs_betamount_system_dropdown_icon.dg_bs_betamount_system_dropdown_icon{
  color: #000;
}

.dg_bs_stakes_infobar_total_text.dg_bs_stakes_infobar_total_text{
  color: #474848;
}

.dg_bs_betamount_input.dg_bs_betamount_input{
  border-color:  #dde3e8;
}

.dg_bs_balance_dropdown.dg_bs_balance_dropdown .dg_bs_balance_dropdown_item--active {
  background: #d9e0e5;
}

.dg_bs_stake_event.dg_bs_stake_event {
  color: #474848;
}

.dg_bs_stakes_infobar_total_odds.dg_bs_stakes_infobar_total_odds {
  background-color: #dfe1e2;
  font-weight: 400;
}

.dg_bs_betamount_fav_wrap.dg_bs_betamount_fav_wrap {
  border: 1px solid #f0f0f0;
}


.dg_bs_betamount_fav_btn.dg_bs_betamount_fav_btn:after {
  background-color: #f0f0f0;
}

.dg_bs_betamount_fav_btn{
  color: #474848;
}

.dg_system_calculator_row_checkbox>input:checked+i {
  --accentBg: #67bd81;
  --accentTxt: #fff;

}

.dg_system_calculator_factors_wrapper.dg_system_calculator_factors_wrapper {
  background: #ffffff;
}

.dg_bs_stakes_infobar_btn--remove.dg_bs_stakes_infobar_btn--remove,
.dg_bs_stakes_infobar_btn--remove.dg_bs_stakes_infobar_btn--remove .dg_bs_stakes_infobar_btn_icon {
  color: #767879;
}

.dg_bs_body_actions_in .dg_bs_btn[data-mode].dg_bs_btn[data-mode],
.dg_bs_btn--primary.dg_bs_btn--primary {
  background: #67bd81 !important;
}

.dg_bs_stake_actions_btn.dg_bs_stake_actions_btn{
  background-color: #f0f0f0;
}

.dg_bs_stake_selection_input.dg_bs_stake_selection_input{
  border-color: #eceff1;
}

.dg_bs_stake_selection_input.dg_bs_stake_selection_input::placeholder{
  color: #474848;
}

.dg_bs_btn,
.dg_bs_root .dg_system_calculator_btn_action {
  --buttonG: #ec1c24;
}

.dg_bet_builder_button_yes {
  background-color: #ec1c24;
}

.lv_stake.lv_stake::before,
.lv_stake.lv_stake::after,
.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake::before,
.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake::after
{
  content: "";
  transition: opacity 0.2s;
  top: 0;
  height: 12px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
  width: 12px;
  opacity: 0;
  
  box-shadow: 0 0 0 1px var(--eventBg);
}

.lv_stake.lv_stake::before,
.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake::before{
  top: 0;
  background-color: var(--success);
}
.lv_stake.lv_stake::after,
.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake::after
{
  background-color: var(--error);
  top: 100%;
}

.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake.lv_stake-increment > .lv_stake_factor{
  color: var(--success);
}

.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake.lv_stake-decrement > .lv_stake_factor{
  color: var(--error);
}

.lv_stake.lv_stake.lv_stake-increment{
  color: var(--success);
  border-top-right-radius: 0;
}

.lv_stake.lv_stake.lv_stake-decrement{
  color: var(--error);
  border-bottom-right-radius: 0;
}

.lv_stake.lv_stake.lv_stake-increment::before,
.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake.lv_stake-increment::before
{
  opacity: 1;
}

.lv_stake.lv_stake.lv_stake-decrement::after,
.lv_stakes_wrapper.lv_stakes_wrapper >.lv_marketStake.lv_marketStake.lv_marketStake.lv_stake-decrement::after{
  opacity: 1;
}

@keyframes increment_custom {
  0% {
      background-color: var(--oddBg)
  }

  50% {
      background-color: #da291c40
  }

  to {
      background-color: var(--error-light)
  }
}

.lv_stake.lv_stake.lv_stake.lv_stake-selected{
  color: var(--oddActiveTxt);
}



.lv_stake.lv_stake-increment,
.lv_stake.lv_stake-decrement,
.lv_markets_wrapper
  .lv_market
  .lv_stakes_wrapper
  .lv_marketStake.lv_stake-increment,
.lv_markets_wrapper
  .lv_market
  .lv_stakes_wrapper
  .lv_marketStake.lv_stake-decrement {
  animation: none !important;
}


.lv_horizontal_scroll.lv_horizontal_scroll::-webkit-scrollbar-thumb{
  background-color: var(--dominantBg);
}

.dg_bs_stake_header_live_indicator.dg_bs_stake_header_live_indicator{
--accentBg: #FC0C4D;
}

.dg_bs_page_wrap.dg_bs_page_wrap.dg_bs_page_wrap--sharebet > .dg_bs_page_header{
  background-color: #dee5ed;
  margin-left: -12px;
  margin-right: -12px;
  padding: 4px 16px;
}


.sr-content_new.sr-content_new .lv_stake:not(.lv_stake-empty):not(.lv_stake--vertical) {
  background-color: none;
}

/*images or icons logick*/
.lv_main_container.dg_sport_images [class^="imgSpr"]::after,
.lv_main_container.dg_sport_images [class*="imgSpr"]::after,
.lv_main_container.dg_sport_images[class^="imgSpr"]::after,
.lv_main_container.dg_sport_images[class*="imgSpr"]::after {
  display: none;
}

.lv_main_container.dg_sport_images [class^="imgSpr"]::before,
.lv_main_container.dg_sport_images [class*="imgSpr"]::before,
.lv_main_container.dg_sport_images[class^="imgSpr"]::before,
.lv_main_container.dg_sport_images[class*="imgSpr"]::before {
  display: inline-flex;
  font-weight: 100;
}

:is(.lv_main_container) .lv_menu_item.lv_menu_item-selected [class*="imgSpr"]::after,
:is(.lv_main_container) .lv_sportTab.lv_sportTab-selected [class*="imgSpr"]::after{
  display: inline-flex;
}

:is(.lv_main_container) .lv_menu_item.lv_menu_item-selected [class*="imgSpr"]::before,
:is(.lv_main_container) .lv_sportTab.lv_sportTab-selected [class*="imgSpr"]::before{
  display: none;
}

.dg_bs_stake_selection_arg.dg_bs_stake_selection_arg{
  font-size: 13px;
}

.ai_root .collapse-wrapper{
  background-color: var(--background_4);
}
.ai_root .ai_filterTabs_wrapper,
.ai_root .dg_multibet_widget_header{
  background: inherit;
}

.dg_bet_generator_wrapper.dg_bet_generator_wrapper .collapse-container{
  --bodyBg: var(--background_1);
}

.lv_collapse_header.lv_collapse_header{
--dominantBg2: var(--background_3);
}

.dg_widget_root .dg_filter_tabs_wrapper{
  --bodyBg: var(--background_1);
}

.ai_widget_content .ai_widget_body{
  background: var(--background_1);
}

.lv_main_panel.lv_main_panel .dg_favorites_content>div{
  --bodyBg2: var(--background_1);
}

.lv_results_widget .lv_results_filter_widget{
  --filterBg:  var(--background_1);
  --inputBg: var(--background_4);
  --inputG: var(--background_4);
}