:host,
:root,
:root[data-theme] {
  --bodyBg: #eceff1;
  --bodyBg2: #dae0e4;
  --bodyBg3: #c9d1d7;
  --bodyBgHover: #e3e8ea;
  --bodyBg2Hover: #d1d9de;
  --bodyBg3Hover: #c0c9d0;
  --bodyRGBA: rgba(236, 239, 241, 0.7);
  --bodyRGBA2: rgba(236, 239, 241, 0.5);
  --bodyRGBA3: rgba(236, 239, 241, 0.3);
  --bodyTxt: #000;
  --bodyTxt2: #474848;
  --bodyTxt3: #767879;
  --bodyAccent: #3e8eaa;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyBorder: #e3e8ea;
  --bodyRadius: 2px;

  --dominantG: #e3e8ea;
  --dominantRGBA: rgba(227, 232, 234, 0.7);
  --dominantRGBA2: rgba(227, 232, 234, 0.5);
  --dominantRGBA3: rgba(227, 232, 234, 0.3);
  --dominantBg: #e3e8ea;
  --dominantBg2: #d2dadd;
  --dominantBg3: #c0cbd0;
  --dominantBgHover: #dae1e3;
  --dominantBg2Hover: #c9d3d6;
  --dominantBg3Hover: #b7c4c9;
  --dominantTxt: #000;
  --dominantTxt2: #444646;
  --dominantTxt3: #727475;
  --dominantTxtInverse: #fff;
  --dominantBorder: #dae1e3;
  --dominantRadius: 2px;

  --accentBg: #3e8eaa;
  --accentBg2: #367b94;
  --accentBg3: #2e697d;
  --accentBgHover: #3a859f;
  --accentBg2Hover: #327289;
  --accentBg3Hover: #2a6072;
  --accentG: #3e8eaa;
  --accentTxt: #fff;
  --accentTxt2: #c5dde6;
  --accentTxt3: #9fc7d5;

  --buttonG: #3a859f;
  --buttonBg: #3a859f;
  --buttonBg2: #327289;
  --buttonBg3: #2a5f72;
  --buttonBgHover: #367c94;
  --buttonBg2Hover: #2e697e;
  --buttonBg3Hover: #265667;
  --buttonTxt: #fff;
  --buttonTxt2: #c4dae2;
  --buttonTxt3: #9dc2cf;
  --buttonAccent: #3e8eaa;
  --buttonAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonBorder: #367c94;
  --buttonRadius: 2px;

  --buttonSecondaryG: #c0c9d0;
  --buttonSecondaryBg: #c0c9d0;
  --buttonSecondaryBg2: #aebac3;
  --buttonSecondaryBg3: #9dabb6;
  --buttonSecondaryBgHover: #b7c1c9;
  --buttonSecondaryBg2Hover: #a5b3bc;
  --buttonSecondaryBg3Hover: #94a3af;
  --buttonSecondaryTxt: #000;
  --buttonSecondaryTxt2: #3a3c3e;
  --buttonSecondaryTxt3: #606568;
  --buttonSecondaryAccent: #3e8eaa;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryBorder: #b7c1c9;
  --buttonSecondaryRadius: 2px;

  --inputG: #ebeff2;
  --inputBg: #ebeff2;
  --inputBg2: #d8e0e6;
  --inputBg3: #c6d1da;
  --inputBgHover: #e2e8ec;
  --inputBg2Hover: #cfd9e0;
  --inputBg3Hover: #bdc9d4;
  --inputTxt: #000;
  --inputTxt2: #474849;
  --inputTxt3: #767879;
  --inputAccent: #3e8eaa;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRadius: 2px;
  --inputBorder: #e2e8ec;

  --inputSecondaryG: #cfd9e0;
  --inputSecondaryBg: #cfd9e0;
  --inputSecondaryBg2: #bccad4;
  --inputSecondaryBg3: #aabcc8;
  --inputSecondaryBgHover: #c6d2da;
  --inputSecondaryBg2Hover: #b3c3ce;
  --inputSecondaryBg3Hover: #a1b5c2;
  --inputSecondaryTxt: #000;
  --inputSecondaryTxt2: #474849;
  --inputSecondaryTxt3: #686d70;
  --inputSecondaryAccent: #3e8eaa;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRadius: 2px;
  --inputSecondaryBorder: #c6d2da;

  --headerG: #cdd7e0;
  --headerBg: #cdd7e0;
  --headerBg2: #bac8d4;
  --headerBg3: #a7b9c9;
  --headerBgHover: #c4cfda;
  --headerBg2Hover: #b1c0ce;
  --headerBg3Hover: #9db1c3;
  --headerTxt: #000;
  --headerTxt2: #3e4143;
  --headerTxt3: #676c70;
  --headerAccent: #3e8eaa;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerBorder: #c4cfda;
  --headerRadius: 2px;

  --subHeaderG: #b1c0ce;
  --subHeaderBg: #b1c0ce;
  --subHeaderBg2: #9eb1c2;
  --subHeaderBg3: #8ba2b6;
  --subHeaderBgHover: #a8b8c8;
  --subHeaderBg2Hover: #95a9bc;
  --subHeaderBg3Hover: #829ab0;
  --subHeaderTxt: #000;
  --subHeaderTxt2: #353a3e;
  --subHeaderTxt3: #596067;
  --subHeaderAccent: #3e8eaa;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderBorder: #a8b8c8;
  --subHeaderRadius: 2px;

  --eventG: #f9f9f9;
  --eventBg: #f9f9f9;
  --eventBg2: #eaeaea;
  --eventBg3: #dadada;
  --eventBgHover: #f1f1f1;
  --eventBg2Hover: #e2e2e2;
  --eventBg3Hover: #d2d2d2;
  --eventTxt: #000;
  --eventTxt2: #4b4b4b;
  --eventTxt3: #7d7d7d;
  --eventAccent: #3e8eaa;
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventBorder: #eceff1;
  --eventRadius: 2px;

  --oddG: #eceff1;
  --oddBg: #eceff1;
  --oddBg2: #dae0e4;
  --oddBg3: #c9d1d7;
  --oddBgHover: #e3e8ea;
  --oddBg2Hover: #d1d9de;
  --oddBg3Hover: #c0c9d0;
  --oddTxt: #000;
  --oddTxt2: #474848;
  --oddTxt3: #767879;
  --oddAccent: #3e8eaa;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRadius: 2px;
  --oddBorder: #e3e8ea;

  --oddActiveG: #3a859f;
  --oddActiveBg: #3a859f;
  --oddActiveBg2: #327289;
  --oddActiveBg3: #2a5f72;
  --oddActiveBgHover: #367c94;
  --oddActiveBg2Hover: #2e697e;
  --oddActiveBg3Hover: #265667;
  --oddActiveTxt: #fff;
  --oddActiveTxt2: #c4dae2;
  --oddActiveTxt3: #9dc2cf;
  --oddActiveAccent: #3e8eaa;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRadius: 2px;
  --oddActiveBorder: #367c94;

  --tabG: #d2dadd;
  --tabBg: #d2dadd;
  --tabBg2: #c1ccd0;
  --tabBg3: #afbdc3;
  --tabBgHover: #c9d3d6;
  --tabBg2Hover: #b8c5c9;
  --tabBg3Hover: #a6b6bc;
  --tabTxt: #000;
  --tabTxt2: #3f4142;
  --tabTxt3: #696d6f;
  --tabAccent: #3e8eaa;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRadius: 2px;
  --tabBorder: #c9d3d6;

  --tabActiveG: #eceff1;
  --tabActiveBg: #eceff1;
  --tabActiveBg2: #dae0e4;
  --tabActiveBg3: #c9d1d7;
  --tabActiveBgHover: #e3e8ea;
  --tabActiveBg2Hover: #d1d9de;
  --tabActiveBg3Hover: #c0c9d0;
  --tabActiveTxt: #000;
  --tabActiveTxt2: #474848;
  --tabActiveTxt3: #767879;
  --tabActiveAccent: #3e8eaa;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRadius: 2px;
  --tabActiveBorder: #e3e8ea;

  --tabSecondaryActiveBg: #b8c5c9;
  --tabSecondaryActiveBg2: #a7b7bc;
  --tabSecondaryActiveBg3: #95a9af;
  --tabSecondaryActiveBgHover: #afbec2;
  --tabSecondaryActiveBg2Hover: #9eb0b5;
  --tabSecondaryActiveBg3Hover: #8ca2a8;
  --tabSecondaryActiveTxt: #000;
  --tabSecondaryActiveTxt2: #373b3c;
  --tabSecondaryActiveTxt3: #5c6365;
  --tabSecondaryActiveAccent: #3e8eaa;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRadius: 2px;
  --tabSecondaryActiveBorder: #afbec2;

  --menu_1G: #f9f9f9;
  --menu_1Bg: #f9f9f9;
  --menu_1Bg2: #eaeaea;
  --menu_1Bg3: #dadada;
  --menu_1BgHover: #f1f1f1;
  --menu_1Bg2Hover: #e2e2e2;
  --menu_1Bg3Hover: #d2d2d2;
  --menu_1Txt: #000;
  --menu_1Txt2: #4b4b4b;
  --menu_1Txt3: #7d7d7d;
  --menu_1Accent: #3e8eaa;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1Radius: 2px;
  --menu_1Border: #f1f1f1;

  --menu_2G: #e2e2e2;
  --menu_2Bg: #e2e2e2;
  --menu_2Bg2: #d3d3d3;
  --menu_2Bg3: #c3c3c3;
  --menu_2BgHover: #dadada;
  --menu_2Bg2Hover: #cbcbcb;
  --menu_2Bg3Hover: #bbbbbb;
  --menu_2Txt: #000;
  --menu_2Txt2: #444444;
  --menu_2Txt3: #717171;
  --menu_2Accent: #3e8eaa;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2Radius: 2px;
  --menu_2Border: #dadada;

  --menu_3G: #dadada;
  --menu_3Bg: #dadada;
  --menu_3Bg2: #cbcbcb;
  --menu_3Bg3: #bbbbbb;
  --menu_3BgHover: #d2d2d2;
  --menu_3Bg2Hover: #c3c3c3;
  --menu_3Bg3Hover: #b3b3b3;
  --menu_3Txt: #000;
  --menu_3Txt2: #414141;
  --menu_3Txt3: #6d6d6d;
  --menu_3Accent: #3e8eaa;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3Radius: 2px;
  --menu_3Border: #d2d2d2;

  --modalG: #e3e8ea;
  --modalBg: #e3e8ea;
  --modalBg2: #d2dadd;
  --modalBg3: #c0cbd0;
  --modalBgHover: #dae1e3;
  --modalBg2Hover: #c9d3d6;
  --modalBg3Hover: #b7c4c9;
  --modalTxt: #000;
  --modalTxt2: #444646;
  --modalTxt3: #727475;
  --modalAccent: #3e8eaa;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRadius: 2px;
  --modalBorder: #dae1e3;

  --filterG: #cfd9e0;
  --filterBg: #cfd9e0;
  --filterBg2: #bccad4;
  --filterBg3: #aabcc8;
  --filterBgHover: #c6d2da;
  --filterBg2Hover: #b3c3ce;
  --filterBg3Hover: #a1b5c2;
  --filterTxt: #000;
  --filterTxt2: #3e4143;
  --filterTxt3: #686d70;
  --filterAccent: #3e8eaa;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRadius: 2px;
  --filterBorder: #c6d2da;

  --tooltipG: #d2dadd;
  --tooltipBg: #d2dadd;
  --tooltipBg2: #c1ccd0;
  --tooltipBg3: #afbdc3;
  --tooltipBgHover: #c9d3d6;
  --tooltipBg2Hover: #b8c5c9;
  --tooltipBg3Hover: #a6b6bc;
  --tooltipTxt: #000;
  --tooltipTxt2: #3f4142;
  --tooltipTxt3: #696d6f;
  --tooltipAccent: #3e8eaa;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRadius: 2px;
  --tooltipBorder: #c9d3d6;
}
