.lv_main_container.lv_main_container.lv_main_container,:host:host:host{
  font-family: 'Roboto', sans-serif;
}
div.ms_root {
  --bodyBg: #eef0f2;
  --dominantG: #ECEFF1;
  --dominantBg: #ECEFF1;
  --dominantBg2: #dae0e4;
  --dominantBg3: #c9d1d7;
  --dominantBgHover: #e3e8ea;
  --dominantBg2Hover: #d1d9de;
  --dominantBg3Hover: #c0c9d0;
  --dominantTxt: #000;
  --dominantTxt2: #474848;
  --dominantTxt3: #767879;
  --dominantAccent: #3A8EAB;
  --dominantAccentTxt: rgba(255, 255, 255, 0.9);

  --sliderG: #f3f3f3;
    --sliderBg: #f3f3f3;

    --filterG: #ebeff2;
    --filterBg: #ebeff2;
    --filterBg2: #dde2e6;
    --filterBg3: #dde2e6;
    --filterBgHover: #dadada;
    --filterBg2Hover: #dde2e6;
    --filterBg3Hover: #dde2e6;

    --eventG: #fff;
    --eventBg: #fff;
    --eventBg2: #f3f3f3;
    --eventBg3: #dadada;
    --eventBgHover: #f1f1f1;
    --eventBg2Hover: #f3f3f3;
    --eventBg3Hover: #d2d2d2;
    --eventBorder: #eef0f2;

    --headerG: #DEE5ED;
    --headerBg: #DEE5ED;
    --headerBg2: #bac8d4;
    --headerBg3: #a7b9c9;
    --headerBgHover: #c4cfda;
    --headerBg2Hover: #b1c0ce;
    --headerBg3Hover: #9db1c3;

    --tabG: #E2E6E9;
    --tabBg: #E2E6E9;
    --tabBg2: #dbdbdb;
    --tabBg3: #cbcbcb;
    --tabBgHover: #e2e2e2;
    --tabBg2Hover: #d3d3d3;
    --tabBg3Hover: #c3c3c3;

    --tabActiveG: #fff;
    --tabActiveBg: #fff;
    --tabActiveBg2: #d3d3d3;
    --tabActiveBg3: #c3c3c3;
    --tabActiveBgHover: #dadada;
    --tabActiveBg2Hover: #cbcbcb;
    --tabActiveBg3Hover: #bbbbbb;

    --menu_1G: #F9F9F9;
    --menu_1Bg: #F9F9F9;

    --menu_2G: #E1E7EB;
    --menu_2Bg: #E1E7EB;

    --menu_3G: #ECEFF1;
    --menu_3Bg: #ECEFF1;

    --inputG: #f9f9f9;
    --inputBg: #f9f9f9;
    --inputBg2: #ebeff2;
    --inputBg3: #dfe4e7;
    --inputBgHover: #ebeff2;
    --inputBg2Hover: #ebeff2;
    --inputBg3Hover: #ebeff2;

    --oddG: #ECEFF1;
    --oddBg: #ECEFF1;
    --oddActiveG: #3F97B6;
    --oddActiveBg: #3F97B6;

    --accentBg: #c90010;
    
}

#dm-main-container .dgm_slider_item i, #dm-main-container .dgm_slider_item img{
  margin-bottom: 2px;
}

.ai_event_widget {
  border-bottom: 1px solid #eef0f2;
}

#dm-main-container .dgm_main_menu_root.dm__main-menu>a,
#dm-main-container .dgm_main_menu_root.dm__main-menu>span {
  font-size: 14px;
  color: #3D3F41 !important;
}

#dm-main-container .dgm_main_menu_root.dm__main-menu>a,
#dm-main-container .dgm_main_menu_root.dm__main-menu>span {
  font-size: 14px;
  color: #3D3F41 !important;
}

.dgm_main_menu_root>a[data-element=main-menu-icon] > i, .dgm_main_menu_root>span[data-element=main-menu-icon] > i {
  width: 24px;
  height: 24px;
  line-height: 23px;
  font-size: 44px;
}

/*slider*/
.dgm_slider_link{
  width: auto !important;
  padding: 0 10px !important;
}
.dgm_slider_item{
  width: auto !important;
  padding-top: 8px !important;
  color: #474848;
  min-width: 66px;
  max-width: 70px;
}
.dgm_slider_item .dgm_slider_item_name{
  font-size: 11px !important;
  line-height: 12px;
}

.dgm_slider_item .dgm_slider_item_count{
  font-size: 10px !important;
  color: #444647 !important;
  top: 10px;
  right: -6px;
}

.dgm_slider_item_active{
  border-top: 0 !important;
}

.dgm_slider_item.dgm_slider_item_active .dgm_slider_item_count{
  color: #388D79 !important;
}
.dgm_slider_item.dgm_slider_item_active .dgm_slider_item_name{
  color: #3a8eab !important;
}

.dgm_slider_wrapper{
  box-shadow: none !important;
}

.dgb_banner-mobile .dgb_slide-standard .dgb_stake .dgb_stake_factor,
.ai_odd .ai_odd_stake,
.dg_favorites_events_odd_stake,
.dg_outrights_wrapper .dg_outrights_body .dg_outrights_odds_wrapper .dg_outrights_odds_inner .dg_oturights_odd>span:nth-child(2){
  --oddAccent:#000; 
}

.ai_odd .ai_odd_stake{
  font-size: 13px !important;
}

.dgb_pagination_bar .dgb_pagination_bar_item-active{
  --accentBg: #3a8eab;
}

.dgb_pagination_bar .dgb_pagination_bar_item{
  --dominantBg: #c3c9ce;
}

.jackpot_slider_wrapper.jackpot_slider_wrapper-type-special {
  --eventBg: #ECEFF1;
}
.jackpot_details_btn{
  visibility: hidden !important;
}
.jackpot_root_variables .jackpot_slider_wrapper {
 /* --JPMobileBgStandard: #fff; */
}
.jackpot_slider_wrapper .jackpot_slider .jackpot_items_wrapper .jackpot_item{
  width: 328px !important;
  height: 56px !important;
  border-radius: 8px !important;
  background: #6aa99a !important;
}

.jackpot_slider_wrapper .jackpot_slider .jackpot_items_wrapper .jackpot_item .jackpot_item_content{
  background-color: #fff !important;
  padding: 0 16px !important;
}

.jackpot_slider_wrapper.jackpot_slider_wrapper-type-special .jackpot_slider .jackpot_items_wrapper .jackpot_item .jackpot_item_content_wrapper .jackpot_item_content .jackpot_amount .jackpot_amount_number{
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #000 !important;
}
.jackpot_slider_wrapper.jackpot_slider_wrapper-type-special .jackpot_slider .jackpot_items_wrapper .jackpot_item .jackpot_item_content_wrapper .jackpot_item_content .jackpot_amount .jackpot_amount_currency{
  color: #4b4b4b !important;
  opacity: 1 !important;
  font-size: 16px !important;
}

.dg_widget_root .ai_widget_container .ai_widget_header_holder .ai_header_wrapper{
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  font-size: 13px !important; 
}

.ai_event_features{
  --eventTxt2: #474848;
}

#dm-main-container .dg_widget_root .ai_subHeader{
  padding: 0 12px !important;
  height: 28px !important;
  color: #000 !important;
  border-bottom: 1px solid var(--subHeaderBg);
}
.ai_event_game_info_wrapper .ai_event_game_separator{
  background-color: #c9d2d9 !important;
}

.ai_event_widget{
  padding: 12px 0 !important;
  border-bottom-color: #CBD3D9 !important;
}

.ai_filterTabs_wrapper{
  width: 100%;
  --bodyBg: var(--subHeaderBg);
}

.ai_filterTabs_wrapper.dg_multibet_widget_count_wrapper{
  --bodyBg: #f9f9f9;
}

.dg_widget_group:last-child .ai_event_widget{
  border-bottom: none !important;
}

.ms_home_widgets {
  background-color: #eceff1 !important;
}

.dg_home_widget{
  background-color: #f9f9f9 !important;
}

.ai_event_stakes_wrapper .ai_markets_wrapper{
  padding: 8px 8px 0px 8px !important; 
}

.dm__wrapper__inner .ai_event_features>span{
  font-size: 12px !important;
  color: #474849;
}
.dm__wrapper__inner .ai_event_features .ai_event_fav_btn, .dm__wrapper__inner .ai_event_features .ai_event_stats_btn{
  width: 24px;
  height: 24px;
}

.ai_event_teams .ai_event_teams_content .ai_event_team:first-child,
.ai_event_info{
  padding: 0 !important;
}

.ai_odds_wrapper{
  column-gap: 1px;
  min-width: 250px !important;
  height: 36px !important;
}

.ai_odd:not(:first-child) .ai_odd_inner{
  border: 0 !important;
}

.ai_odd .ai_odd_inner{
  padding: 0 10px !important;
}

.ai_odd .ai_odd_market, .ai_odd .ai_odd_stake{
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}
.ai_odd .ai_odd_market {
  flex-grow: 1;
  min-width: 1px;
}

.ai_header_wrapper{
  border-top: 0 !important;
  border-bottom: 0 !important;
}


.dg_widget_root .dg_filter_tab,
.ai_filterTab {
  width: 32px !important;
  height: 32px !important;
  border: none;
  padding: 0 !important;
  border-radius: 8px !important;
  justify-content: center !important;
  box-shadow: none !important;
}

.dg_widget_root .dg_filter_tab.dg_filter_tab-active,
.ai_filterTab.ai_filterTab-active{
  width: auto !important;
  padding: 0 16px !important;
}

.dg_widget_root .dg_filter_tab.dg_filter_tab-active:before,
.ai_filterTab.ai_filterTab-active:before{
  content: none;
}

.sport_front_icon-statistics-modern:before {
  content: "\e1AB" !important;
}

/*mobile*/
.dg_bs_root_holder .dg_bs_collapsed_mob_circle{
  background-color: #3a8eab;
  color: #fff !important;
}

.dg_bs_root_holder .dg_bs_collapsed_mob_content{
  border-color: #3a8eab;
}

.dg_widget_root .dg_event_widget .dg_event_stakes_wrapper .dg_markets_wrapper .dg_market .dg_stakes_wrapper .dg_marketStake .dg_stake_factor{
  --oddAccent: #000;
}

.dg_multibet_widget_main_wrapper .ai_widget_wrapper {
  border-color: #06b081 !important;
}

.ai_multiBet_widget_footer .ai_widget_footer_content .ai_widget_bet_info .ai_widget_info_row>button{
  height: 36px !important;
  padding: 0 16px !important;
  background: #06b081 !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px !important;
}

.ai_multiBet_widget_footer .ai_widget_footer_content .ai_widget_bet_info .ai_widget_info_row>button > i{
  width: 20px !important;
  height: 20px !important;
  line-height: 19px !important;
  font-size: 36px !important;
}


.ai_header_wrapper-collapsed .ai_header_content .ai_header_switcher .ai_header_checkmark{
  --accentBg: #3E8EAA;
  color: #fff !important;
  
}
.ai_header_wrapper-collapsed .ai_header_content .ai_header_switcher .ai_header_checkmark .sport_front_icon-ai{
  color: inherit !important;
}

.ai_filterTabs_wrapper .ai_filterTabs_group{
  background-color: #eef0f2 !important;
}

#dm-main-container#dm-main-container#dm-main-container .dm__tabs_container.dm--tabs-sport{
  background: #f3f3f3 !important;
}

#dm-main-container#dm-main-container#dm-main-container .dm__tabs_container.dm--tabs-sport .dm__tabs__item{
  background: #fff !important;
}

#dm-main-container#dm-main-container#dm-main-container .dm__tabs_container.dm--tabs-sport .dm__tabs__item.dm__tabs__item-active{
  background: #dbe2e8 !important;
}

#dm-main-container .dm__event_row-championships{
  --menu_1G: #f9f9f9;
}

#dm-main-container .dm__event_row-flags{
  --menu_2G: #f9f9f9;
}

#dm-main-container#dm-main-container .dm__custom_select__wrapper--live{
  background-color: #eef0f2 !important;

}

#dm-main-container#dm-main-container .dm__radio-slider{
  background-color: #fff !important;
}

#dm-main-container#dm-main-container .dm__radio-slider:after{
  background-color: #dae1e9 !important;
  box-shadow: none !important;
}

/*outrights block*/

#dm-main-container .dm__prematch_block-bot-padded > .dm__championship__header {
  background-color: #DEE5ED !important;
}
#dm-main-container .dg_tab_wrapper.dg_tab_wrapper-outrights .dg_tab_item{
  background-color: #fff !important;
}

#dm-main-container .dg_tab_wrapper.dg_tab_wrapper-outrights .dg_tab_item.active{
  background-color: #eef1f4 !important;
}

.dg_tab_wrapper.dg_tab_wrapper-outrights .dg_tab_item>strong{
  background-color: #f0f0f0 !important;
  color: #474848 !important;
}

.dg_tab_wrapper.dg_tab_wrapper-outrights .dg_tab_item.active>strong{
  background-color: #3F97B6 !important;
  color: #fff !important;
}

#dm-main-container .dg_outrights_wrapper{
  background-color: #e7e9eb !important;
}

#dm-main-container .dg_outrights_wrapper .dg_outrights_body .dg_outrights_odds_wrapper .dg_outrights_odds_inner .dg_oturights_odd{
  font-size: 12px;
  height: 36px;
}

#dm-main-container .dg_outrights_wrapper .dg_outrights_body .dg_outrights_odds_wrapper .dg_outrights_odds_inner .dg_oturights_odd>span:nth-child(2){
  font-size: 13px;
  color: #000 !important;
  font-weight: 700;
}

#dm-main-container .dg_outrights_wrapper .dg_outrights_body .dg_outrights_odds_wrapper .dg_outrights_odds_show_more {
  border-radius: 20px;
  font-size: 12px;
  height: 51px;
  justify-content: center;
  width: 100%;
  border: 12px solid #fff;
  background-color: #eceff1;
}

/*search*/
#dm-main-container .dgm_search_row, .dm__search-row{
  --inputG: #fff;
}

#dm-main-container .sr-header-title-txt{
  font-weight: 400;
}

/*bet history*/
#dm-main-container .dg_navigation_header_wrapper .dg_navigation_back{
  background-color: #fff;
}

#dm-main-container .dg_navigation_header_wrapper .dg_bet_history_menu{
  background-color: #fff;
}

#dm-main-container .bh_root.mobile .dg_mobile_header{
  background-color: #fff;
}

#dm-main-container .bh_wrapper .bh_tab{
  background-color: #fff;
  color: #474848;
}

#dm-main-container .bh_tab_wrapper_scroll .bh_tab:not(:last-child){
  margin-inline-end: 8px;
}

#dm-main-container  .bh_tab_wrapper .tg_btn_filters{
  background-color: #fff;
  color: #474848;
}

#dm-main-container  .bh_wrapper .bh_tab.active{
  background-color: #dbe2e8;
}

#dm-main-container .bh_wrapper .tg_btn_filters.tg_btn_filters_filtered>i:after{
  background-color: #3A8EAB;
}

/*bh card*/

#dm-main-container .bh_root{
  --pending: #f88543;
  --return: #f0f0f0;
  --won: #5aae73;
  --success: #5aae73;
  --won2: #5aae73;
  --wonTxt: #fff;
  --lost: #fc0c4d;
  --lost2: #fc0c4d;
}


#dm-main-container .bh_card .bh_card_header_info_status{
  color: #474848;
}

#dm-main-container  .bh_card .bh_details_currency{
  color: #000;
}

.bh_card_cashout_btn{
  --accentBg: #cb0001;
  --accentTxt: #f3f8fa;
  --buttonSecondaryBg: #cbd3d8;

}

.bh_card_cashout_btn--settings{
  --buttonSecondaryBg: #cbd3d8;
}

#dm-main-container .bh_card_winning_new_wrap--cashedOut, .bh_card_winning_new_wrap--lost{
  border-color: #cbd3d8;
}

/*results*/
#dm-main-container .dm--input-imit,
#dm-main-container .dm--input{
  box-shadow: none !important;
  --inputG: #cfd9e0;
  --inputBorder: #cfd9e0;
}

#dm-main-container .dm__btn{
  --buttonG: #f92b32;
}

.dg_navigation_header_wrapper .dg_navigation_title_wrapper{
  background-color: #fff !important;
}

#dm-main-container#dm-main-container .dm__popup-bg{
  background-color: #eef0f2;
}

.ms_filter_result  .dm__homepage__sport_section__item{
  box-shadow: none !important;
}

.ms_results_container .dm__single_game {
  box-shadow: none !important;
}

.ms_results_container .dgm_odd .dgm_odd_factor{
 color: #3F97B6;
}
.ms_results_container .dgm_odd.dm__odd-active .dgm_odd_factor{
 color: #fff;
}

#dm-main-container#dm-main-container .dm__result_more_item p:nth-child(odd){
  background: none !important;
}

.dm__btn-shadow{
  box-shadow: none !important;
}


.dg_bs_root_holder {
  --bodyG: #ECEFF1;
  --bodyBg: #ECEFF1;
  --bodyBg2: #dae0e4;
  --bodyBg3: #c9d1d7;
  --bodyBgHover: #e3e8ea;
  --bodyBg2Hover: #d1d9de;
  --bodyBg3Hover: #c0c9d0;
  --bodyTxt: #000;
  --bodyTxt2: #474848;
  --bodyTxt3: #767879;
  --bodyAccent: #3A8EAB;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyRGBA: rgba(236, 239, 241, 0.7);
  --bodyRGBA2: rgba(236, 239, 241, 0.5);
  --bodyRGBA3: rgba(236, 239, 241, 0.3);
  --bodyShadow: undefined;
  --bodyShadowFade: undefined;
  --bodyRadius: 8px;
  --bodyBorder: #e3e8ea;

  --accentG: #3A8EAB;
  --accentBg: #3A8EAB;
  --accentBg2: #53a8c5;
  --accentBg3: #66b1cb;
  --accentBgHover: #3e97b6;
  --accentBg2Hover: #5eaec9;
  --accentBg3Hover: #71b7cf;
  --accentTxt: #fff;
  --accentTxt2: #c4dde6;
  --accentTxt3: #9dc7d5;
  --accentAccent: #3A8EAB;
  --accentAccentTxt: rgba(255, 255, 255, 0.9);
  --accentRGBA: rgba(58, 142, 171, 0.7);
  --accentRGBA2: rgba(58, 142, 171, 0.5);
  --accentRGBA3: rgba(58, 142, 171, 0.3);
  --accentShadow: undefined;
  --accentShadowFade: undefined;
  --accentRadius: 2px;
  --accentBorder: #3e97b6;

  --dominantG: #ECEFF1;
  --dominantBg: #ECEFF1;
  --dominantBg2: #dae0e4;
  --dominantBg3: #c9d1d7;
  --dominantBgHover: #e3e8ea;
  --dominantBg2Hover: #d1d9de;
  --dominantBg3Hover: #c0c9d0;
  --dominantTxt: #000;
  --dominantTxt2: #474848;
  --dominantTxt3: #767879;
  --dominantAccent: #3A8EAB;
  --dominantAccentTxt: rgba(255, 255, 255, 0.9);
  --dominantRGBA: rgba(236, 239, 241, 0.7);
  --dominantRGBA2: rgba(236, 239, 241, 0.5);
  --dominantRGBA3: rgba(236, 239, 241, 0.3);
  --dominantShadow: undefined;
  --dominantShadowFade: undefined;
  --dominantRadius: 8px;
  --dominantBorder: #e3e8ea;

  --buttonG: #3e97b6;
  --buttonBg: #3e97b6;
  --buttonBg2: #5fadc8;
  --buttonBg3: #72b7cf;
  --buttonBgHover: #449fbf;
  --buttonBg2Hover: #6ab3cc;
  --buttonBg3Hover: #7dbdd3;
  --buttonTxt: #fff;
  --buttonTxt2: #c5e0e9;
  --buttonTxt3: #9fcbdb;
  --buttonAccent: #3A8EAB;
  --buttonAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonRGBA: rgba(62, 151, 182, 0.7);
  --buttonRGBA2: rgba(62, 151, 182, 0.5);
  --buttonRGBA3: rgba(62, 151, 182, 0.3);
  --buttonShadow: undefined;
  --buttonShadowFade: undefined;
  --buttonRadius: 2px;
  --buttonBorder: #449fbf;

  --buttonSecondaryG: #c0c9d0;
  --buttonSecondaryBg: #c0c9d0;
  --buttonSecondaryBg2: #aebac3;
  --buttonSecondaryBg3: #9dabb6;
  --buttonSecondaryBgHover: #b7c1c9;
  --buttonSecondaryBg2Hover: #a5b3bc;
  --buttonSecondaryBg3Hover: #94a3af;
  --buttonSecondaryTxt: #000;
  --buttonSecondaryTxt2: #3a3c3e;
  --buttonSecondaryTxt3: #606568;
  --buttonSecondaryAccent: #3A8EAB;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryRGBA: rgba(192, 201, 208, 0.7);
  --buttonSecondaryRGBA2: rgba(192, 201, 208, 0.5);
  --buttonSecondaryRGBA3: rgba(192, 201, 208, 0.3);
  --buttonSecondaryShadow: undefined;
  --buttonSecondaryShadowFade: undefined;
  --buttonSecondaryRadius: 8px;
  --buttonSecondaryBorder: #b7c1c9;

  --navbarG: #dae0e4;
  --navbarBg: #dae0e4;
  --navbarBg2: #c8d1d7;
  --navbarBg3: #b7c2ca;
  --navbarBgHover: #d1d9de;
  --navbarBg2Hover: #bfcad1;
  --navbarBg3Hover: #aebbc4;
  --navbarTxt: #000;
  --navbarTxt2: #414344;
  --navbarTxt3: #6d7072;
  --navbarAccent: #3A8EAB;
  --navbarAccentTxt: rgba(255, 255, 255, 0.9);
  --navbarRGBA: rgba(218, 224, 228, 0.7);
  --navbarRGBA2: rgba(218, 224, 228, 0.5);
  --navbarRGBA3: rgba(218, 224, 228, 0.3);
  --navbarShadow: undefined;
  --navbarShadowFade: undefined;
  --navbarRadius: 8px;
  --navbarBorder: #d1d9de;

  --sliderG: #e3e8ea;
  --sliderBg: #e3e8ea;
  --sliderBg2: #d2dadd;
  --sliderBg3: #c0cbd0;
  --sliderBgHover: #dae1e3;
  --sliderBg2Hover: #c9d3d6;
  --sliderBg3Hover: #b7c4c9;
  --sliderTxt: #000;
  --sliderTxt2: #444646;
  --sliderTxt3: #727475;
  --sliderAccent: #3A8EAB;
  --sliderAccentTxt: rgba(255, 255, 255, 0.9);
  --sliderRGBA: rgba(227, 232, 234, 0.7);
  --sliderRGBA2: rgba(227, 232, 234, 0.5);
  --sliderRGBA3: rgba(227, 232, 234, 0.3);
  --sliderShadow: undefined;
  --sliderShadowFade: undefined;
  --sliderRadius: 8px;
  --sliderBorder: #dae1e3;

  --headerG: #CDD7E0;
  --headerBg: #CDD7E0;
  --headerBg2: #bac8d4;
  --headerBg3: #a7b9c9;
  --headerBgHover: #c4cfda;
  --headerBg2Hover: #b1c0ce;
  --headerBg3Hover: #9db1c3;
  --headerTxt: #000;
  --headerTxt2: #3e4143;
  --headerTxt3: #676c70;
  --headerAccent: #3A8EAB;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerRGBA: rgba(205, 215, 224, 0.7);
  --headerRGBA2: rgba(205, 215, 224, 0.5);
  --headerRGBA3: rgba(205, 215, 224, 0.3);
  --headerShadow: undefined;
  --headerShadowFade: undefined;
  --headerRadius: 8px;
  --headerBorder: #c4cfda;

  --subHeaderG: #b1c0ce;
  --subHeaderBg: #b1c0ce;
  --subHeaderBg2: #9eb1c2;
  --subHeaderBg3: #8ba2b6;
  --subHeaderBgHover: #a8b8c8;
  --subHeaderBg2Hover: #95a9bc;
  --subHeaderBg3Hover: #829ab0;
  --subHeaderTxt: #000;
  --subHeaderTxt2: #353a3e;
  --subHeaderTxt3: #596067;
  --subHeaderAccent: #3A8EAB;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderRGBA: rgba(177, 192, 206, 0.7);
  --subHeaderRGBA2: rgba(177, 192, 206, 0.5);
  --subHeaderRGBA3: rgba(177, 192, 206, 0.3);
  --subHeaderShadow: undefined;
  --subHeaderShadowFade: undefined;
  --subHeaderRadius: 8px;
  --subHeaderBorder: #a8b8c8;

  --eventG: #F9F9F9;
  --eventBg: #F9F9F9;
  --eventBg2: #eaeaea;
  --eventBg3: #dadada;
  --eventBgHover: #f1f1f1;
  --eventBg2Hover: #e2e2e2;
  --eventBg3Hover: #d2d2d2;
  --eventTxt: #000;
  --eventTxt2: #4b4b4b;
  --eventTxt3: #7d7d7d;
  --eventAccent: #3A8EAB;
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventRGBA: rgba(249, 249, 249, 0.7);
  --eventRGBA2: rgba(249, 249, 249, 0.5);
  --eventRGBA3: rgba(249, 249, 249, 0.3);
  --eventShadow: undefined;
  --eventShadowFade: undefined;
  --eventRadius: 8px;
  --eventBorder: #f1f1f1;

  --eventLiveG: #d2d2d2;
  --eventLiveBg: #d2d2d2;
  --eventLiveBg2: #c3c3c3;
  --eventLiveBg3: #b3b3b3;
  --eventLiveBgHover: #cacaca;
  --eventLiveBg2Hover: #bbbbbb;
  --eventLiveBg3Hover: #ababab;
  --eventLiveTxt: #000;
  --eventLiveTxt2: #3f3f3f;
  --eventLiveTxt3: #696969;
  --eventLiveAccent: #3A8EAB;
  --eventLiveAccentTxt: rgba(255, 255, 255, 0.9);
  --eventLiveRGBA: rgba(210, 210, 210, 0.7);
  --eventLiveRGBA2: rgba(210, 210, 210, 0.5);
  --eventLiveRGBA3: rgba(210, 210, 210, 0.3);
  --eventLiveShadow: undefined;
  --eventLiveShadowFade: undefined;
  --eventLiveRadius: 8px;
  --eventLiveBorder: #cacaca;

  --oddG: #e3e8ea;
  --oddBg: #e3e8ea;
  --oddBg2: #d2dadd;
  --oddBg3: #c0cbd0;
  --oddBgHover: #dae1e3;
  --oddBg2Hover: #c9d3d6;
  --oddBg3Hover: #b7c4c9;
  --oddTxt: #000;
  --oddTxt2: #444646;
  --oddTxt3: #727475;
  --oddAccent: #3A8EAB;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRGBA: rgba(227, 232, 234, 0.7);
  --oddRGBA2: rgba(227, 232, 234, 0.5);
  --oddRGBA3: rgba(227, 232, 234, 0.3);
  --oddShadow: undefined;
  --oddShadowFade: undefined;
  --oddRadius: 8px;
  --oddBorder: #dae1e3;

  --oddActiveG: #3e97b6;
  --oddActiveBg: #3e97b6;
  --oddActiveBg2: #5fadc8;
  --oddActiveBg3: #72b7cf;
  --oddActiveBgHover: #449fbf;
  --oddActiveBg2Hover: #6ab3cc;
  --oddActiveBg3Hover: #7dbdd3;
  --oddActiveTxt: #fff;
  --oddActiveTxt2: #c5e0e9;
  --oddActiveTxt3: #9fcbdb;
  --oddActiveAccent: #3A8EAB;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRGBA: rgba(62, 151, 182, 0.7);
  --oddActiveRGBA2: rgba(62, 151, 182, 0.5);
  --oddActiveRGBA3: rgba(62, 151, 182, 0.3);
  --oddActiveShadow: undefined;
  --oddActiveShadowFade: undefined;
  --oddActiveRadius: 2px;
  --oddActiveBorder: #449fbf;

  --showMoreG: #e3e8ea;
  --showMoreBg: #e3e8ea;
  --showMoreBg2: #d2dadd;
  --showMoreBg3: #c0cbd0;
  --showMoreBgHover: #dae1e3;
  --showMoreBg2Hover: #c9d3d6;
  --showMoreBg3Hover: #b7c4c9;
  --showMoreTxt: #000;
  --showMoreTxt2: #444646;
  --showMoreTxt3: #727475;
  --showMoreAccent: #3A8EAB;
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRGBA: rgba(227, 232, 234, 0.7);
  --showMoreRGBA2: rgba(227, 232, 234, 0.5);
  --showMoreRGBA3: rgba(227, 232, 234, 0.3);
  --showMoreShadow: undefined;
  --showMoreShadowFade: undefined;
  --showMoreRadius: 8px;
  --showMoreBorder: #dae1e3;

  --marketHeaderG: #dae0e4;
  --marketHeaderBg: #dae0e4;
  --marketHeaderBg2: #c8d1d7;
  --marketHeaderBg3: #b7c2ca;
  --marketHeaderBgHover: #d1d9de;
  --marketHeaderBg2Hover: #bfcad1;
  --marketHeaderBg3Hover: #aebbc4;
  --marketHeaderTxt: #000;
  --marketHeaderTxt2: #414344;
  --marketHeaderTxt3: #6d7072;
  --marketHeaderAccent: #3A8EAB;
  --marketHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --marketHeaderRGBA: rgba(218, 224, 228, 0.7);
  --marketHeaderRGBA2: rgba(218, 224, 228, 0.5);
  --marketHeaderRGBA3: rgba(218, 224, 228, 0.3);
  --marketHeaderShadow: undefined;
  --marketHeaderShadowFade: undefined;
  --marketHeaderRadius: 8px;
  --marketHeaderBorder: #d1d9de;

  --collapseG: #b1c0ce;
  --collapseBg: #b1c0ce;
  --collapseBg2: #9eb1c2;
  --collapseBg3: #8ba2b6;
  --collapseBgHover: #a8b8c8;
  --collapseBg2Hover: #95a9bc;
  --collapseBg3Hover: #829ab0;
  --collapseTxt: #000;
  --collapseTxt2: #353a3e;
  --collapseTxt3: #596067;
  --collapseAccent: #3A8EAB;
  --collapseAccentTxt: rgba(255, 255, 255, 0.9);
  --collapseRGBA: rgba(177, 192, 206, 0.7);
  --collapseRGBA2: rgba(177, 192, 206, 0.5);
  --collapseRGBA3: rgba(177, 192, 206, 0.3);
  --collapseShadow: undefined;
  --collapseShadowFade: undefined;
  --collapseRadius: 8px;
  --collapseBorder: #a8b8c8;

  --tabG: #F9F9F9;
  --tabBg: #F9F9F9;
  --tabBg2: #eaeaea;
  --tabBg3: #dadada;
  --tabBgHover: #f1f1f1;
  --tabBg2Hover: #e2e2e2;
  --tabBg3Hover: #d2d2d2;
  --tabTxt: #000;
  --tabTxt2: #4b4b4b;
  --tabTxt3: #7d7d7d;
  --tabAccent: #3A8EAB;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRGBA: rgba(249, 249, 249, 0.7);
  --tabRGBA2: rgba(249, 249, 249, 0.5);
  --tabRGBA3: rgba(249, 249, 249, 0.3);
  --tabShadow: undefined;
  --tabShadowFade: undefined;
  --tabRadius: 4px;
  --tabBorder: #f1f1f1;

  --tabActiveG: #e2e2e2;
  --tabActiveBg: #e2e2e2;
  --tabActiveBg2: #d3d3d3;
  --tabActiveBg3: #c3c3c3;
  --tabActiveBgHover: #dadada;
  --tabActiveBg2Hover: #cbcbcb;
  --tabActiveBg3Hover: #bbbbbb;
  --tabActiveTxt: #000;
  --tabActiveTxt2: #444444;
  --tabActiveTxt3: #717171;
  --tabActiveAccent: #3A8EAB;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRGBA: rgba(226, 226, 226, 0.7);
  --tabActiveRGBA2: rgba(226, 226, 226, 0.5);
  --tabActiveRGBA3: rgba(226, 226, 226, 0.3);
  --tabActiveShadow: undefined;
  --tabActiveShadowFade: undefined;
  --tabActiveRadius: 8px;
  --tabActiveBorder: #dadada;

  --tabSecondaryActiveG: #e2e2e2;
  --tabSecondaryActiveBg: #e2e2e2;
  --tabSecondaryActiveBg2: #d3d3d3;
  --tabSecondaryActiveBg3: #c3c3c3;
  --tabSecondaryActiveBgHover: #dadada;
  --tabSecondaryActiveBg2Hover: #cbcbcb;
  --tabSecondaryActiveBg3Hover: #bbbbbb;
  --tabSecondaryActiveTxt: #000;
  --tabSecondaryActiveTxt2: #444444;
  --tabSecondaryActiveTxt3: #717171;
  --tabSecondaryActiveAccent: #3A8EAB;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRGBA: rgba(226, 226, 226, 0.7);
  --tabSecondaryActiveRGBA2: rgba(226, 226, 226, 0.5);
  --tabSecondaryActiveRGBA3: rgba(226, 226, 226, 0.3);
  --tabSecondaryActiveShadow: undefined;
  --tabSecondaryActiveShadowFade: undefined;
  --tabSecondaryActiveRadius: 8px;
  --tabSecondaryActiveBorder: #dadada;

  --menu_1G: #dae0e4;
  --menu_1Bg: #dae0e4;
  --menu_1Bg2: #c8d1d7;
  --menu_1Bg3: #b7c2ca;
  --menu_1BgHover: #d1d9de;
  --menu_1Bg2Hover: #bfcad1;
  --menu_1Bg3Hover: #aebbc4;
  --menu_1Txt: #000;
  --menu_1Txt2: #414344;
  --menu_1Txt3: #6d7072;
  --menu_1Accent: #3A8EAB;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1RGBA: rgba(218, 224, 228, 0.7);
  --menu_1RGBA2: rgba(218, 224, 228, 0.5);
  --menu_1RGBA3: rgba(218, 224, 228, 0.3);
  --menu_1Shadow: undefined;
  --menu_1ShadowFade: undefined;
  --menu_1Radius: 8px;
  --menu_1Border: #d1d9de;

  --menu_2G: #d1d9de;
  --menu_2Bg: #d1d9de;
  --menu_2Bg2: #bfcad1;
  --menu_2Bg3: #adbcc4;
  --menu_2BgHover: #c8d2d8;
  --menu_2Bg2Hover: #b6c3cb;
  --menu_2Bg3Hover: #a4b5be;
  --menu_2Txt: #000;
  --menu_2Txt2: #3f4143;
  --menu_2Txt3: #696d6f;
  --menu_2Accent: #3A8EAB;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2RGBA: rgba(209, 217, 222, 0.7);
  --menu_2RGBA2: rgba(209, 217, 222, 0.5);
  --menu_2RGBA3: rgba(209, 217, 222, 0.3);
  --menu_2Shadow: undefined;
  --menu_2ShadowFade: undefined;
  --menu_2Radius: 8px;
  --menu_2Border: #c8d2d8;

  --menu_3G: #c9d1d7;
  --menu_3Bg: #c9d1d7;
  --menu_3Bg2: #b7c2ca;
  --menu_3Bg3: #a6b3bd;
  --menu_3BgHover: #c0c9d0;
  --menu_3Bg2Hover: #aebbc4;
  --menu_3Bg3Hover: #9dabb6;
  --menu_3Txt: #000;
  --menu_3Txt2: #3c3f41;
  --menu_3Txt3: #65696c;
  --menu_3Accent: #3A8EAB;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3RGBA: rgba(201, 209, 215, 0.7);
  --menu_3RGBA2: rgba(201, 209, 215, 0.5);
  --menu_3RGBA3: rgba(201, 209, 215, 0.3);
  --menu_3Shadow: undefined;
  --menu_3ShadowFade: undefined;
  --menu_3Radius: 8px;
  --menu_3Border: #c0c9d0;

  --inputG: #dae0e4;
  --inputBg: #dae0e4;
  --inputBg2: #c8d1d7;
  --inputBg3: #b7c2ca;
  --inputBgHover: #d1d9de;
  --inputBg2Hover: #bfcad1;
  --inputBg3Hover: #aebbc4;
  --inputTxt: #000;
  --inputTxt2: #414344;
  --inputTxt3: #6d7072;
  --inputAccent: #3A8EAB;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRGBA: rgba(218, 224, 228, 0.7);
  --inputRGBA2: rgba(218, 224, 228, 0.5);
  --inputRGBA3: rgba(218, 224, 228, 0.3);
  --inputShadow: undefined;
  --inputShadowFade: undefined;
  --inputRadius: 8px;
  --inputBorder: #d1d9de;

  --inputSecondaryG: #d1d9de;
  --inputSecondaryBg: #d1d9de;
  --inputSecondaryBg2: #bfcad1;
  --inputSecondaryBg3: #adbcc4;
  --inputSecondaryBgHover: #c8d2d8;
  --inputSecondaryBg2Hover: #b6c3cb;
  --inputSecondaryBg3Hover: #a4b5be;
  --inputSecondaryTxt: #000;
  --inputSecondaryTxt2: #3f4143;
  --inputSecondaryTxt3: #696d6f;
  --inputSecondaryAccent: #3A8EAB;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRGBA: rgba(209, 217, 222, 0.7);
  --inputSecondaryRGBA2: rgba(209, 217, 222, 0.5);
  --inputSecondaryRGBA3: rgba(209, 217, 222, 0.3);
  --inputSecondaryShadow: undefined;
  --inputSecondaryShadowFade: undefined;
  --inputSecondaryRadius: 8px;
  --inputSecondaryBorder: #c8d2d8;

  --filterG: #d1d9de;
  --filterBg: #d1d9de;
  --filterBg2: #bfcad1;
  --filterBg3: #adbcc4;
  --filterBgHover: #c8d2d8;
  --filterBg2Hover: #b6c3cb;
  --filterBg3Hover: #a4b5be;
  --filterTxt: #000;
  --filterTxt2: #3f4143;
  --filterTxt3: #696d6f;
  --filterAccent: #3A8EAB;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRGBA: rgba(209, 217, 222, 0.7);
  --filterRGBA2: rgba(209, 217, 222, 0.5);
  --filterRGBA3: rgba(209, 217, 222, 0.3);
  --filterShadow: undefined;
  --filterShadowFade: undefined;
  --filterRadius: 8px;
  --filterBorder: #c8d2d8;

  --tooltipG: #dae0e4;
  --tooltipBg: #dae0e4;
  --tooltipBg2: #c8d1d7;
  --tooltipBg3: #b7c2ca;
  --tooltipBgHover: #d1d9de;
  --tooltipBg2Hover: #bfcad1;
  --tooltipBg3Hover: #aebbc4;
  --tooltipTxt: #000;
  --tooltipTxt2: #414344;
  --tooltipTxt3: #6d7072;
  --tooltipAccent: #3A8EAB;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRGBA: rgba(218, 224, 228, 0.7);
  --tooltipRGBA2: rgba(218, 224, 228, 0.5);
  --tooltipRGBA3: rgba(218, 224, 228, 0.3);
  --tooltipShadow: undefined;
  --tooltipShadowFade: undefined;
  --tooltipRadius: 8px;
  --tooltipBorder: #d1d9de;

  --modalG: #e3e8ea;
  --modalBg: #e3e8ea;
  --modalBg2: #d2dadd;
  --modalBg3: #c0cbd0;
  --modalBgHover: #dae1e3;
  --modalBg2Hover: #c9d3d6;
  --modalBg3Hover: #b7c4c9;
  --modalTxt: #000;
  --modalTxt2: #444646;
  --modalTxt3: #727475;
  --modalAccent: #3A8EAB;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRGBA: rgba(227, 232, 234, 0.7);
  --modalRGBA2: rgba(227, 232, 234, 0.5);
  --modalRGBA3: rgba(227, 232, 234, 0.3);
  --modalShadow: undefined;
  --modalShadowFade: undefined;
  --modalRadius: 8px;
  --modalBorder: #dae1e3;
}

.dg_bs_btn, .dg_bs_root .dg_system_calculator_btn_action{
  --buttonG: #ec1c24;
}

.dg_bet_builder_button_yes{
  background-color: #ec1c24;;
}

.sport_front_icon-star-filled-modern, .sport_front_icon_fav,
.dm__market_collapser .dgm_favorite.dg_icon_star_filled,
.dgm_favorite.dg_icon_star_filled,
.dg_favorites_events_info_features_fav_icon.selected>i:before,
#dm-main-container .dm__main-menu > a.active,
  .events_item_favorite_section.selected>i:before{
  --accentBg: #3a8eab;
  --favActiveBg: #3a8eab;
  --navbarAccent: #3a8eab;
}

.ai_event_scores{
  margin: 2px 4px !important;
}

#dm-main-container .dm__market_collapser,
#dm-main-container .dm__image_header{
  --marketHeaderG: #f9f9f9 !important;
}

#dm-main-container .dgm_market_root .dm__market_collapser{
  border-bottom: 1px solid #cbd3d9 !important;
}

.bh_root.mobile{
  background: #eceff1;
}
.dg_favorites_events_info_features_fav_icon > i{
  width: 20px !important;
  height: 20px !important;
  line-height: 19px !important;
  font-size: 29px !important;
}


#dm-main-container .dm__tabs_container,
.dm__event {
  --tabG: #F9F9F9;
  --tabBg: #F9F9F9;
  --tabBg2: #eaeaea;
  --tabBg3: #dadada;
  --tabBgHover: #f1f1f1;
  --tabBg2Hover: #e2e2e2;
  --tabBg3Hover: #d2d2d2;
  --tabTxt: #000;
  --tabTxt2: #4b4b4b;
  --tabTxt3: #7d7d7d;
  --tabAccent: #3A8EAB;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRGBA: rgba(249, 249, 249, 0.7);
  --tabRGBA2: rgba(249, 249, 249, 0.5);
  --tabRGBA3: rgba(249, 249, 249, 0.3);
  --tabShadow: undefined;
  --tabShadowFade: undefined;
  --tabRadius: 8px;
  --tabBorder: #f1f1f1;

  --tabActiveG: #FFFFFF;
  --tabActiveBg: #FFFFFF;
  --tabActiveBg2: #f0f0f0;
  --tabActiveBg3: #e0e0e0;
  --tabActiveBgHover: #f7f7f7;
  --tabActiveBg2Hover: #e8e8e8;
  --tabActiveBg3Hover: #d8d8d8;
  --tabActiveTxt: #000;
  --tabActiveTxt2: #4d4d4d;
  --tabActiveTxt3: #808080;
  --tabActiveAccent: #3A8EAB;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRGBA: rgba(255, 255, 255, 0.7);
  --tabActiveRGBA2: rgba(255, 255, 255, 0.5);
  --tabActiveRGBA3: rgba(255, 255, 255, 0.3);
  --tabActiveShadow: undefined;
  --tabActiveShadowFade: undefined;
  --tabActiveRadius: 8px;
  --tabActiveBorder: #f7f7f7;
}

.dm__image_header__table:before{
  border-radius: 8px;
}

.dm__image_header{
  border: none !important;
}

.dm__image_header__score_head.dm__image_header-top-row .dm__image_header__table-width:after{
  content: none;
}

.dm__image_header__score_head .dm__image_header__table-width,
.dm__image_header__table-width .dm__ih__t_md{
  height: 32px;
}

.dg_event_hero_background{
  display: none;
}

#dm-main-container .dm__image_header{
  --hero_image_color: var(--dominantBg2);
}

#dm-main-container .dm__image_header__table:before{
  opacity: 1;
}

.dg_right .dg_live_score_middle{
  border: none;
}

.dm__image_header-border:before{
  height: 96px;
  border-color: var(--hero_image_color);
}
.dm__image_header__table-r{
  border-left: 1px solid;
  border-color: var(--hero_image_color);

}

#dm-main-container .dm__image_header-devider.dm__image_header-devider {
  border-color: var(--hero_image_color) !important;
}

#dm-main-container .dm__image_header_comments_cont .dm__image_header__tooltip{
  margin-bottom: 0;
}

#dm-main-container .dm__image_header_comments_cont .dm__image_header__tooltip{
  height: 32px;
}

#dm-main-container .dm__image_header__score .dm--akcented.dm--akcented{
  color: var(--dominantTxt2) !important;
}

#dm-main-container .dm__image_header__tooltip:before{
  background: none !important;
}

#dm-main-container .dm__image_header .dm__image_header_comments_cont .dm--akcented.dm--akcented,
#dm-main-container .dm__image_header__tooltip{
  color: var(--dominantTxt2) !important;
}

#dm-main-container .dm__image_header__table .dm__image_header__score,
#dm-main-container .dm__image_header__table .dm__image_header__score > .dm--color-akcent.dm--color-akcent,
#dm-main-container .dm__image_header__table-width .dm__ih__t_md{
  color: var(--dominantTxt3) !important;
}

.dm__tabs__item i.dg_icon_link{
  display: none;
}

.dm__btn-game-toggle-markets{
  border: none !important;
}

.dm__market_cashout_icon{
  display: none !important;
}

#dm-main-container .dgm_market_root .dm__market_collapser{
  border-bottom: none !important;
}

.dgm_market_root{
  padding: 4px 8px;
  border-bottom: 1px solid var(--eventBgHover);
}


#dm-main-container.dg_sport_images [class^="imgSpr"]::before, 
#dm-main-container.dg_sport_images [class*="imgSpr"]::before{
  display: none !important;
}

.dm__tab_sub_name{
  display: none !important;
}

#dm-main-container#dm-main-container .dm__tabs_container{
  column-gap: 8px;
  padding: 6px 8px;
}

#dm-main-container#dm-main-container .dm__tabs_container .dm__tabs__item.dm__tabs__item{
  color: var(--tabTxt2) !important;
  background: var(--tabG) !important;
  height: 32px;
  padding: 0 8px;
  border-radius: var(--tabRadius);
}


#dm-main-container#dm-main-container .dm__tabs_container .dm__tabs__item.dm__tabs__item.dm__tabs__item-active{
  --tabG: #EEF1F4;
}


#dm-main-container#dm-main-container .dm__tabs_container, #dm-main-container#dm-main-container .dm--tabs-event.dm__market_collapser{
  border-bottom: 0 !important;
}

.dm__tabs__item.dgm_tab_new_badge_wrapper .dgm_tab_new_badge{
  color: #fff !important;
}

#sport-mobile .sport_front_icon-badge-00:before{
  content: "\E1B9";
}

#sport-mobile .dg_icon_offer_default:before{
  content: "\E193";
}

#sport-mobile .dg_market_offer_icon>i,
#sport-mobile .dg_market_offer_icon>i::before,
#sport-mobile .dg_market_offers_head > i{
  width: 24px;
  height: 24px;
  line-height: 23px;
  font-size: 44px;
  color: var(--marketHeaderTxt);
}
#sport-mobile .dg_market_offer_icon>span{
  display: none;
}
.dm__markets_header:after, .dm__markets_header:before{
  transition: none !important;
}

.dm__markets_header:before {
  display: none;
}

.dm__markets_header:after {
  display: none;
}

/*images or icons logick*/
#dm-main-container#dm-main-container [class^="imgSpr"]::before,
#dm-main-container#dm-main-container [class*="imgSpr"]::before, 
.dg_bs_root_holder.dg_bs_root_holder  [class^="imgSpr"]::before,
.dg_bs_root_holder.dg_bs_root_holder  [class*="imgSpr"]::before {
    display: inline-block !important;
}

#dm-main-container#dm-main-container [class^="imgSpr"],
#dm-main-container#dm-main-container [class*="imgSpr"], 
.dg_bs_root_holder.dg_bs_root_holder [class^="imgSpr"],
.dg_bs_root_holder.dg_bs_root_holder [class*="imgSpr"] {
    background-image: none !important;
}

#dm-main-container .dg_market_offers .tg_tooltip_content .dg_market_popup,
#dm-main-container .dm__market_row.dm__market_collapser.dg_boosted_odds .av_boosted_odds_popup {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid var(--modalBgHover);
  color: var(--modalTxt);
  padding: 8px 16px;
  position: absolute;
  top: 20px;
  width: 280px;
  z-index: 11;
}

.bh_card.bh_card .bh_card_winning_new_wrap_amount{
  font-size: 14px;
}

.dg_bs_stake_msg{
  background: none !important;
}

.dg_multibet_widget_header .dg_multibet_widget_button_wrapper{
  border-color: #C2CCD3 !important;
}

.dg_multibet_widget_header .dg_multibet_widget_button_wrapper>button{
  --bodyBgHover: #C2CCD3;
  --bodyBg2: #C2CCD3;
  color: #3D3F41 !important;
}

.dg_multibet_widget_main_wrapper .ai_widget_wrapper .ai_widget_slide .dg_multibet_widget_events .dg_multibet_widget_event_item .dg_multibet_widget_event_icon:before{
  background: #767879 !important;
}

#dm-main-container .ms_shadow-inset {
  box-shadow: none;
}

#dm-main-container .dm__market_search_wrapper{
    --inputG: #f9f9f9;
    --inputBg: #f9f9f9;
    --inputBg2: #ebeff2;
    --inputBg3: #dfe4e7;
    --inputBgHover: #ebeff2;
    --inputBg2Hover: #ebeff2;
    --inputBg3Hover: #ebeff2;
}

#dm-main-container .sr-tab{
  background: #ffffff;
  --tabAccent: #fff;
}

#dm-main-container .sr-tab.active{
  background: #f0f0f0;
  --tabAccent: #4397b5;
}

#dm-main-container .dm__custom_select__button{
  --dominantBg2: #fff;
}

/*tournament*/
.tr-card-header{
  --digiTournamentItemHeaderBg: #DEE5ED;
}

.tr-main-content {
  --digiTournamentManiBg: #eef0f2;
  --digiTournamentManiTxt: #000;
}
.tr-card-body {
  --digiTournamentItemBg: #fff;
  --digiTournamentItemTxt: #000;
}

.tr-title {
  --digiTournamentTitleBg: #EEF1F4;
  --digiTournamentTitleBorder: #CBD3D8;
  --digiTournamentTitleTxt: #000;
  border: 1px solid var(--digiTournamentTitleBorder);
}

.tr-card-sm-bg{
  --digiTournamentCardBg: #F8F8F8;

}

.tr-btn-accented {
  --digiTournamentButtonAccentBg: #3F97B6;
  --digiTournamentButtonAccentTxt: #fff;
}

.tr-tab{
  --digiTournamentTabBg:#fff;
  --digiTournamentTabTxt:#000;
}

.tr-tab.active{
  --digiTournamentTabActiveBg:#DBE2E8;
  --digiTournamentTabActiveTxt:#000;
}

.tr-divider-accented {
  --accentBg: #3F97B6;
}

.tr-calendar-active-item-wrapper {
  --digiTournamentSliderActiveBg: #3F97B6;
}

.tr-prize-icon {
  --digiTournamentAccent:#3F97B6;
}

.tr-card-list-accented .tr-card-list-number {
  --digiTournamentActiveItemCircleBg: #3F97B6;
}

.tr-card-list-accented .tr-card-list-amount {
  --digiTournamentAccent: #3F97B6;
}


.jackpot_details_wrapper .jackpot_details_content .jackpot_item .jackpot_item_content_wrapper .jackpot_info_wrapper {
  --eventBg3: #F1F1F1;
}

.jackpot_details_wrapper .jackpot_details_content .jackpot_item  {
  --eventBg: #fff;
  --eventBg2: #fff
}

.lv_horizontal_scroll::-webkit-scrollbar-thumb{
  --dominantTxt3: var(--dominantBg);
}

#dm-main-container [class^="sport_front_icon-"], #dm-main-container [class*=" sport_front_icon-"]{
  font-weight: 100;
}
.dg_favorites_tabs.dg_favorites_tabs{
background: #F0F0F0;
}
.dg_favorites_mobile_wrapper .dg_favorites_tabs_item{
  --tabBg: #fff;
}
.dg_favorites_mobile_wrapper .dg_favorites_tabs_item.tab_active,
.dg_favorites_mobile_wrapper .dg_favorites_tabs_item:hover{
  --tabBg2: #f0f0f0;
  --accentBg: #3a8eab;
}
.dg_favorites_details_content_widgets_odd_stake{
  --oddAccent: #000;
}

.dg_favorites_details_content_info_widgets_sub_item_status.status_game_lost,
.dg_favorites_details_content_info_widgets_sub_item_status.status_game_draw,
.dg_favorites_details_content_info_widgets_sub_item_status.status_game_win{
  color: #fff;
}

.bh_card_footer_sum_amount_details, .bh_card_footer_sum_amount_num_win{
  --accentBg: #3a8eab;
}
.bh_card_cashout_btn--highlight {
  --cashoutMainBtnHighlight: #3a8eab;
}

.bh_modal_toggle_input:checked~.bh_modal_toggle,
.bh_modal_input_range::-webkit-slider-thumb{
  --accentBg: #3a8eab;
}

.bh_modal_input_range_wrapper:before{
  --accentBg: #3a8eab;
}

.bh_modal_input_range_wrapper{
  --bhModalInputRangeBg:  #3a8eab !important;
}

.bh_modal_btn_cashout{
  --buttonAccent:  #3a8eab;
}

.dg_navigation_header_wrapper .dg_bet-history_menu_item.active:before{
  --accentBg: #3a8eab;
}

